Repository ita-social-projects/EPlast, pull requests merged in 2020-11, with the labels that each got.

#610 Fix Blanks font size
  EPlast/EPlast.BLL/Services/PDF/Documents/BlankDocument.cs
Labels: Blank

#609 Fixed bug with blank generation
  EPlast/EPlast.BLL/EPlast.BLL.csproj
  EPlast/EPlast.BLL/Services/PDF/Documents/BlankDocument.cs
  EPlast/EPlast.BLL/Services/PDF/PDFService.cs
Labels: Blank

#600 Changing roles by admin
  EPlast/EPlast.BLL/Interfaces/Admin/IAdminService.cs
  EPlast/EPlast.BLL/Interfaces/City/ICityMembersService.cs
  EPlast/EPlast.BLL/Interfaces/Club/IClubMembersService.cs
  EPlast/EPlast.BLL/Services/Admin/AdminService.cs
  EPlast/EPlast.BLL/Services/City/CityMembersService.cs
  EPlast/EPlast.BLL/Services/Club/ClubMembersService.cs
  EPlast/EPlast.BLL/Services/Region/RegionService.cs
  EPlast/EPlast.WebApi/Controllers/AdminController.cs
Labels: Users Table (Таблиця користувачів)

#613 Added some changes for creating notifications
  EPlast/EPlast.Tests/Controllers/EventsUsersControllerTests.cs
  EPlast/EPlast.WebApi/Controllers/ClubController.cs
  EPlast/EPlast.WebApi/Controllers/EventsUsersController.cs
Labels: Notifications(Сповіщення)

#599 Fixed adding new page in pdf generating
  EPlast/EPlast.BLL/Services/PDF/Documents/DecisionDocument.cs
Labels: Bug, Decisions

#621 Google authorization fix
  EPlast/EPlast.BLL/Services/Auth/AuthService.cs
Labels: Bug

#641 Fixed bug with "Вишколи УПЮ/УПН" in Blank Generation Document
  EPlast/EPlast.BLL/Services/PDF/Documents/BlankDocument.cs
  EPlast/EPlast.BLL/Services/PDF/PDFService.cs
Labels: Blank

#644 Made the phone field optional
  EPlast/EPlast.BLL/DTO/UserAuthentication/ContactsDto.cs
Labels: Contacts

#626 Added returning cityProfile.Name in methods: GetMembers, GetFollowers…
  EPlast/EPlast.WebApi/Controllers/CitiesController.cs
Labels: Notifications(Сповіщення)

#646 Changed QRCode size
  EPlast/EPlast.BLL/Services/PDF/Documents/BlankDocument.cs
Labels: Blank

#645 Add Facebook authorization
  EPlast/EPlast.BLL/Interfaces/Auth/IAuthService.cs
  EPlast/EPlast.BLL/Models/FacebookUserInfo.cs
  EPlast/EPlast.BLL/Services/Auth/AuthService.cs
  EPlast/EPlast.WebApi/Controllers/AuthController.cs
  EPlast/EPlast.WebApi/appsettings.json
Labels: enhancement

#654 Fixed visibility for "Голова округу" on the main page of the region
  EPlast/EPlast.BLL/Services/Region/RegionService.cs
Labels: Regions (округи)

#661 Adding method for editing region administration
  EPlast/EPlast.BLL/Interfaces/Region/IRegionService.cs
  EPlast/EPlast.BLL/Services/Region/RegionService.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
Labels: Regions (округи)

#578 Changed real-time connection from SignalR to WebSockets
  EPlast/EPlast.BLL/DTO/Notification/ConnectionDTO.cs
  EPlast/EPlast.BLL/Interfaces/Notifications/IConnectionManagerService.cs
  EPlast/EPlast.BLL/Interfaces/Notifications/INotificationConnectionManager.cs
  EPlast/EPlast.BLL/Interfaces/UniqueId/IUniqueIdService.cs
  EPlast/EPlast.BLL/Services/City/CityDocumentsService.cs
  EPlast/EPlast.BLL/Services/City/CityService.cs
  EPlast/EPlast.BLL/Services/Club/ClubDocumentsService.cs
  EPlast/EPlast.BLL/Services/Club/ClubService.cs
  EPlast/EPlast.BLL/Services/Decision/DecisionService.cs
  EPlast/EPlast.BLL/Services/Events/EventGalleryManager.cs
  EPlast/EPlast.BLL/Services/Jwt/JwtService.cs
  EPlast/EPlast.BLL/Services/Jwt/Jwtservice.cs
  EPlast/EPlast.BLL/Services/Notifications/ConnectionManagerService.cs
  EPlast/EPlast.BLL/Services/Notifications/NotificationConnectionManager.cs
  EPlast/EPlast.BLL/Services/Region/RegionService.cs
  EPlast/EPlast.BLL/Services/UniqueId/UniqueIdService.cs
  EPlast/EPlast.BLL/Services/UserProfiles/UserService.cs
  EPlast/EPlast.Tests/Controllers/NotificationBoxControllerTests.cs
  EPlast/EPlast.Tests/Services/ActiveMembership/AccessLevelServiceTests.cs
  EPlast/EPlast.Tests/Services/ActiveMembership/PlastDegreeServiceTests.cs
  EPlast/EPlast.Tests/Services/City/CityServiceTests.cs
  EPlast/EPlast.Tests/Services/Club/ClubServiceTests.cs
  EPlast/EPlast.Tests/Services/DistinctionServiceTest/UserDistinctionServiceTests.cs
  EPlast/EPlast.Tests/Services/Notifications/ConnectionManagerServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/NotificationBoxController.cs
  EPlast/EPlast.WebApi/CustomMiddlewares/ExceptionMiddleware.cs
  EPlast/EPlast.WebApi/CustomMiddlewares/WebSocketMiddleware.cs
  EPlast/EPlast.WebApi/Extensions/WebSocketMiddlewareExtension.cs
  EPlast/EPlast.WebApi/SignalRHubs/NotificationHub.cs
  EPlast/EPlast.WebApi/Startup.cs
  EPlast/EPlast.WebApi/StartupExtensions/AddDependenciesExtension.cs
  EPlast/EPlast.WebApi/WebSocketHandlers/BaseWebSocketHandler.cs
  EPlast/EPlast.WebApi/WebSocketHandlers/UserNotificationHandler.cs
  EPlast/EPlast.XUnitTest/Services/City/CityServiceTests.cs
  EPlast/EPlast.XUnitTest/Services/Club/ClubServiceTests.cs
  EPlast/EPlast.XUnitTest/Services/Decision/DecisionServiceTests.cs
  EPlast/EPlast.XUnitTest/Services/Events/EventGalleryManagerTests.cs
  EPlast/EPlast.XUnitTest/Services/UserArea/UserServiceTests.cs
Labels: Notifications(Сповіщення)

#659 Statistics refactoring
  EPlast/EPlast.BLL/DTO/Statistics/CitiesStatisticsParameters.cs
  EPlast/EPlast.BLL/DTO/Statistics/StatisticsItemIndicator.cs
  EPlast/EPlast.BLL/Interfaces/Statistics/ICityStatisticsService.cs
  EPlast/EPlast.BLL/Interfaces/Statistics/IRegionStatisticsService.cs
  EPlast/EPlast.BLL/Services/Statistics/StatisticsService.cs
  EPlast/EPlast.WebApi/Controllers/StatisticsController.cs
  EPlast/EPlast.XUnitTest/Services/Statistics/StatisticsServiceTests.cs
Labels: Statistics

#664 Untit tests for statistics
  EPlast/EPlast.Tests/Controllers/StatisticsControllerTests.cs
  EPlast/EPlast.Tests/Services/StatisticsServiceTests.cs
Labels: Statistics

#667 Refactored code for region annual report service
  EPlast/EPlast.BLL/Services/Region/RegionAccess/RegionAccessService.cs
  EPlast/EPlast.BLL/Services/Region/RegionAnnualReportService.cs
  EPlast/EPlast.BLL/Services/Region/RegionService.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
Labels: Regions (округи)

#668 Added method for getting city and region admins by userId
  EPlast/EPlast.BLL/Interfaces/Admin/IAdminService.cs
  EPlast/EPlast.BLL/Services/Admin/AdminService.cs
  EPlast/EPlast.WebApi/Controllers/AdminController.cs
Labels: Notifications(Сповіщення)

#673 Facebook login update
  EPlast/EPlast.BLL/Models/FacebookUserInfo.cs
  EPlast/EPlast.BLL/Services/Auth/AuthService.cs
  EPlast/EPlast.Resources/Genders.en.resx
  EPlast/EPlast.WebApi/Controllers/AuthController.cs
Labels: Improvement, Login

#672 Created all fuctionality for regions statistics. Refactoring.
  EPlast/EPlast.BLL/Services/Statistics/StatisticsService.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
  EPlast/EPlast.WebApi/Controllers/StatisticsController.cs
Labels: Statistics

#675 Added creating UserDates for Google and Facebook accounts
  EPlast/EPlast.BLL/Services/Auth/AuthService.cs
  EPlast/EPlast.XUnitTest/Services/Authentication/AccountServiceTests.cs
Labels: Active Membership

#674 Added authorize for ActiveMembershipController
  EPlast/EPlast.WebApi/Controllers/ActiveMembershipController.cs
Labels: Active Membership

#681 Added check report status
  EPlast/EPlast.BLL/Services/Region/RegionAnnualReportService.cs
Labels: AnnualReports

#678 Fixes for NotificationBox
  EPlast/EPlast.BLL/Interfaces/Notifications/INotificationService.cs
  EPlast/EPlast.BLL/Services/Notifications/NotificationConnectionManager.cs
  EPlast/EPlast.BLL/Services/Notifications/NotificationService.cs
  EPlast/EPlast.Tests/Controllers/NotificationBoxControllerTests.cs
  EPlast/EPlast.Tests/Services/Notifications/NotificationServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/NotificationBoxController.cs
Labels: Notifications(Сповіщення)

#695 Fix date on decisions
  EPlast/EPlast.WebApi/Mapping/Decision/DecisionProfile.cs
Labels: Bug, Decisions (Рішення)

#684 Created regionsStatistics tests
  EPlast/EPlast.Tests/Controllers/StatisticsControllerTests.cs
  EPlast/EPlast.Tests/Services/StatisticsServiceTests.cs
Labels: Statistics

#702 Fixes for event page
  EPlast/EPlast.WebApi/Controllers/EventsUsersController.cs
Labels: Events (події)

#708 Removed code duplications
  EPlast/EPlast.BLL/Interfaces/AzureStorage/Base/IBlobStorageRepository.cs
  EPlast/EPlast.BLL/Interfaces/CityClub/CityClubBase.cs
  EPlast/EPlast.BLL/Interfaces/Events/IActionManager.cs
  EPlast/EPlast.BLL/Interfaces/UserProfiles/IUserService.cs
  EPlast/EPlast.BLL/Services/AzureStorage/Base/BlobStorageRepository.cs
  EPlast/EPlast.BLL/Services/AzureStorage/BlankAchievementBlobStorageRepository.cs
  EPlast/EPlast.BLL/Services/AzureStorage/BlankExtractFromUPUBlobStorageRepository.cs
  EPlast/EPlast.BLL/Services/AzureStorage/BlankFilesBlobStorageRepository.cs
  EPlast/EPlast.BLL/Services/AzureStorage/CityBlobStorageRepository.cs
  EPlast/EPlast.BLL/Services/AzureStorage/CityFilesBlobStorageRepository.cs
  EPlast/EPlast.BLL/Services/AzureStorage/ClubBlobStorageRepository.cs
  EPlast/EPlast.BLL/Services/AzureStorage/ClubFilesBlobStorageRepository.cs
  EPlast/EPlast.BLL/Services/AzureStorage/DecisionBlobStorageRepository.cs
  EPlast/EPlast.BLL/Services/AzureStorage/EventBlobStorageRepository.cs
  EPlast/EPlast.BLL/Services/AzureStorage/RegionBlobStorageRepository.cs
  EPlast/EPlast.BLL/Services/AzureStorage/RegionFilesBlobStorageRepository.cs
  EPlast/EPlast.BLL/Services/AzureStorage/UserBlobStorageRepository.cs
  EPlast/EPlast.BLL/Services/City/CityService.cs
  EPlast/EPlast.BLL/Services/CityClub/CityClubBase.cs
  EPlast/EPlast.BLL/Services/Club/ClubService.cs
  EPlast/EPlast.BLL/Services/Events/ActionManager.cs
  EPlast/EPlast.BLL/Services/UserProfiles/UserService.cs
  EPlast/EPlast.XUnitTest/Services/UserArea/UserServiceTests.cs
Labels: Improvement

#712 Fix minor code smells
  EPlast/EPlast.BLL/Services/Auth/AuthService.cs
  EPlast/EPlast.BLL/Services/Club/ClubAnnualReportService.cs
  EPlast/EPlast.BLL/Services/PDF/Documents/TextFormatter.cs
  EPlast/EPlast.WebApi/Controllers/AuthController.cs
  EPlast/EPlast.WebApi/appsettings.json
Labels: Improvement

#713 Fixed code smells
  EPlast/EPlast.BLL/Interfaces/UserProfiles/IDegreeService.cs
  EPlast/EPlast.BLL/Interfaces/UserProfiles/IEducationService.cs
  EPlast/EPlast.BLL/Interfaces/UserProfiles/IGenderService.cs
  EPlast/EPlast.BLL/Interfaces/UserProfiles/INationalityService.cs
  EPlast/EPlast.BLL/Interfaces/UserProfiles/IReligionService.cs
  EPlast/EPlast.BLL/Interfaces/UserProfiles/IUserPersonalDataService.cs
  EPlast/EPlast.BLL/Interfaces/UserProfiles/IWorkService.cs
  EPlast/EPlast.BLL/Services/PDF/Documents/TextFormatter.cs
  EPlast/EPlast.BLL/Services/UserProfiles/DegreeService.cs
  EPlast/EPlast.BLL/Services/UserProfiles/EducationService.cs
  EPlast/EPlast.BLL/Services/UserProfiles/GenderService.cs
  EPlast/EPlast.BLL/Services/UserProfiles/NationalityService.cs
  EPlast/EPlast.BLL/Services/UserProfiles/ReligionService.cs
  EPlast/EPlast.BLL/Services/UserProfiles/UserPersonalDataService.cs
  EPlast/EPlast.BLL/Services/UserProfiles/UserService.cs
  EPlast/EPlast.BLL/Services/UserProfiles/WorkService.cs
  EPlast/EPlast.Tests/Controllers/UserControllerTests.cs
  EPlast/EPlast.WebApi/Controllers/UserController.cs
  EPlast/EPlast.WebApi/StartupExtensions/AddDependenciesExtension.cs
  EPlast/EPlast.XUnitTest/Services/UserArea/UserServiceTests.cs
  EPlast/EPlast.XUnitTest/Services/UserProfiles/DegreeServiceTest.cs
  EPlast/EPlast.XUnitTest/Services/UserProfiles/EducationServiceTests.cs
  EPlast/EPlast.XUnitTest/Services/UserProfiles/GenderServiceTests.cs
  EPlast/EPlast.XUnitTest/Services/UserProfiles/NationalityServiceTests.cs
  EPlast/EPlast.XUnitTest/Services/UserProfiles/ReligionServiceTest.cs
  EPlast/EPlast.XUnitTest/Services/UserProfiles/UserPersonalDataServiceTests.cs
  EPlast/EPlast.XUnitTest/Services/UserProfiles/WorkServiceTests.cs
Labels: Improvement

#714 HotFix Cognitive Complexity
  EPlast/EPlast.BLL/Services/PDF/Documents/TextFormatter.cs
Labels: Improvement

#711 EventUserManager refactoring
  EPlast/EPlast.BLL/Interfaces/EventUser/IEventUserManager.cs
  EPlast/EPlast.BLL/Interfaces/EventUser/IEventUserService.cs
  EPlast/EPlast.BLL/Services/EventUser/EventUserManager.cs
  EPlast/EPlast.BLL/Services/EventUser/EventUserService.cs
  EPlast/EPlast.Tests/Controllers/EventsUsersControllerTests.cs
  EPlast/EPlast.WebApi/Controllers/EventsUsersController.cs
  EPlast/EPlast.WebApi/StartupExtensions/AddDependenciesExtension.cs
  EPlast/EPlast.XUnitTest/Services/Events/EventUserManagerTests.cs
Labels: Events (події)

#716 Fixed club controller.
  EPlast/EPlast.BLL/EPlast.BLL.csproj
  EPlast/EPlast.BLL/Interfaces/Club/IClubAdministrationService.cs
  EPlast/EPlast.BLL/Interfaces/Club/IClubMembersService.cs
  EPlast/EPlast.BLL/Interfaces/Club/IClubParticipantsService.cs
  EPlast/EPlast.BLL/Services/Admin/AdminService.cs
  EPlast/EPlast.BLL/Services/Club/ClubMembersService.cs
  EPlast/EPlast.BLL/Services/Club/ClubParticipantsService.cs
  EPlast/EPlast.Tests/Controllers/ClubControllerTests.cs
  EPlast/EPlast.Tests/EPlast.Tests.csproj
  EPlast/EPlast.Tests/Services/Club/ClubMembersServiceTests.cs
  EPlast/EPlast.Tests/Services/Club/ClubParticipantsServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/ClubController.cs
  EPlast/EPlast.WebApi/Startup.cs
  EPlast/EPlast.WebApi/StartupExtensions/AddDependenciesExtension.cs
  EPlast/EPlast.XUnitTest/Services/Club/ClubMembersServiceTests.cs
  EPlast/EPlast.XUnitTest/Services/Club/ClubParticipantsServiceTests.cs
Labels: Clubs

#718 Fix adding user photo
  EPlast/EPlast.BLL/Services/UserProfiles/UserService.cs
  EPlast/EPlast.WebApi/Controllers/UserController.cs
  EPlast/EPlast.WebApi/Models/UserModels/UserProfileFields/GenderViewModel.cs
Labels: Bug

#720 Count of members for cities, clubs and regions
  EPlast/EPlast.BLL/DTO/City/CityDTO.cs
  EPlast/EPlast.BLL/DTO/Club/ClubDTO.cs
  EPlast/EPlast.BLL/Services/City/CityService.cs
  EPlast/EPlast.BLL/Services/Club/ClubService.cs
  EPlast/EPlast.WebApi/Mapping/City/CityProfile.cs
  EPlast/EPlast.WebApi/Mapping/Club/ClubProfile.cs
  EPlast/EPlast.WebApi/Models/City/CityViewModel.cs
  EPlast/EPlast.WebApi/Models/Club/ClubViewModel.cs
Labels: Cities (станиці), Clubs, Regions (округи)
