Repository ita-social-projects/EPlast, pull requests merged in 2020-10, with the labels that each got.

#480 Wrote some tests for DistinctionService and UserDistinctionService
  EPlast/EPlast.BLL/Services/Distinctions/DistinctionService.cs
  EPlast/EPlast.BLL/Services/Distinctions/UserDistinctionService.cs
  EPlast/EPlast.Tests/Services/DistinctionServiceTest/DistinctionServiceTests.cs
  EPlast/EPlast.Tests/Services/DistinctionServiceTest/UserDistinctionServiceTests.cs
Labels: Awards (Відзначення)

#503 Added new method for getting all member statistics from all annual re…
  EPlast/EPlast.BLL/DTO/AnnualReport/MembersStatisticDTO.cs
  EPlast/EPlast.BLL/Interfaces/Statistics/ICityStatisticsService.cs
  EPlast/EPlast.BLL/Services/Statistics/StatisticsService.cs
  EPlast/EPlast.WebApi/StartupExtensions/AddDependenciesExtension.cs
Labels: Statistics

#510 Added one new service
  EPlast/EPlast.BLL/DTO/AnnualReport/MembersStatisticDTO.cs
  EPlast/EPlast.BLL/Interfaces/Statistics/ICityStatisticsService.cs
  EPlast/EPlast.BLL/Interfaces/Statistics/IRegionStatisticsService.cs
  EPlast/EPlast.BLL/Services/Statistics/StatisticsService.cs
Labels: Statistics

#530 Approved events
  EPlast/EPlast.BLL/Interfaces/EventUser/IEventUserManager.cs
  EPlast/EPlast.BLL/Services/EventUser/EventUserManager.cs
  EPlast/EPlast.BLL/Services/Events/EventCategoryManager.cs
  EPlast/EPlast.WebApi/Controllers/EventsUsersController.cs
Labels: Events (події)

#537 Added NUnit Tests for "Виписка з УПЮ"
  EPlast/EPlast.Tests/Controllers/BlanksControllerTests.cs
  EPlast/EPlast.Tests/Services/Blank/BlankExtractOfUPUServiceTest.cs
Labels: Blank

#539 Club services tests
  EPlast/EPlast.BLL/Services/Club/ClubAdministrationService.cs
  EPlast/EPlast.BLL/Services/Club/ClubService.cs
  EPlast/EPlast.DataAccess/Entities/Club/Club.cs
  EPlast/EPlast.DataAccess/Migrations/20201021101849_Reworked clubs migration.Designer.cs
  EPlast/EPlast.DataAccess/Migrations/20201021101849_Reworked clubs migration.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Base/RepositoryWrapper.cs
  EPlast/EPlast.Tests/Services/Club/ClubAdministrationServiceTests.cs
  EPlast/EPlast.Tests/Services/Club/ClubMembersServiceTests.cs
  EPlast/EPlast.Tests/Services/Club/ClubServiceTests.cs
  EPlast/EPlast.Tests/Services/PDF/PDFServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/CitiesController.cs
  EPlast/EPlast.WebApi/Controllers/ClubController.cs
Labels: Clubs

#540 Add opportunity to see number of participants
  EPlast/EPlast.BLL/DTO/Events/EventInfoDTO.cs
Labels: Events (події)

#556 Added pagination for events categories. Fixed bugs
  EPlast/EPlast.BLL/Interfaces/Events/IEventCategoryManager.cs
  EPlast/EPlast.BLL/Services/Events/ActionManager.cs
  EPlast/EPlast.BLL/Services/Events/EventCategoryManager.cs
  EPlast/EPlast.DataAccess/Entities/Event/Event.cs
  EPlast/EPlast.WebApi/Controllers/EventsController.cs
  EPlast/EPlast.WebApi/Models/Events/EventsCategoryViewModel.cs
Labels: Events (події)

#558 Changing roles by admin
  EPlast/EPlast.BLL/DTO/City/CityForAdministrationDTO.cs
  EPlast/EPlast.BLL/DTO/Club/ClubForAdministrationDTO.cs
  EPlast/EPlast.BLL/DTO/Region/RegionForAdministrationDTO.cs
  EPlast/EPlast.BLL/Interfaces/City/ICityService.cs
  EPlast/EPlast.BLL/Interfaces/Club/IClubService.cs
  EPlast/EPlast.BLL/Interfaces/Region/IRegionService.cs
  EPlast/EPlast.BLL/Mapping/City/CityForAdministrationProfile.cs
  EPlast/EPlast.BLL/Mapping/Club/ClubForAdministrationProfile.cs
  EPlast/EPlast.BLL/Mapping/Region/RegionForAdministrationProfile.cs
  EPlast/EPlast.BLL/Services/City/CityAdministrationService.cs
  EPlast/EPlast.BLL/Services/City/CityService.cs
  EPlast/EPlast.BLL/Services/Club/ClubAdministrationService.cs
  EPlast/EPlast.BLL/Services/Club/ClubService.cs
  EPlast/EPlast.BLL/Services/Region/RegionService.cs
  EPlast/EPlast.WebApi/Controllers/CitiesController.cs
  EPlast/EPlast.WebApi/Controllers/ClubController.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
Labels: Users Table (Таблиця користувачів)

#560 Added tests for NotificationBoxController and notification services
  EPlast/EPlast.Tests/Controllers/NotificationBoxControllerTests.cs
  EPlast/EPlast.Tests/Services/Notifications/ConnectionManagerServiceTests.cs
  EPlast/EPlast.Tests/Services/Notifications/NotificationServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/NotificationBoxController.cs
Labels: Notifications(Сповіщення)

#564 Decisions pdf fix
  Dockerfile
  EPlast/EPlast.BLL/EPlast.BLL.csproj
  EPlast/EPlast.BLL/Interfaces/PDF/IPDFDocument.cs
  EPlast/EPlast.BLL/Services/PDF/Documents/BlankDocument.cs
  EPlast/EPlast.BLL/Services/PDF/Documents/DecisionDocument.cs
  EPlast/EPlast.BLL/Services/PDF/Documents/PdfDocument.cs
  EPlast/EPlast.BLL/Services/PDF/PDFCreator.cs
  EPlast/EPlast.BLL/Services/PDF/PDFService.cs
Labels: Bug, Decisions

#581 Created Logic for Generation Component
  EPlast/EPlast.BLL/Interfaces/PDF/IPDFService.cs
  EPlast/EPlast.BLL/Models/BlankModel.cs
  EPlast/EPlast.BLL/Services/PDF/Documents/BlankDocument.cs
  EPlast/EPlast.BLL/Services/PDF/Documents/PdfDocument.cs
  EPlast/EPlast.BLL/Services/PDF/PDFService.cs
  EPlast/EPlast.Tests/Controllers/BlanksControllerTests.cs
  EPlast/EPlast.Tests/Services/PDF/PDFServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/BlanksController.cs
  EPlast/EPlast.WebApi/appsettings.json
Labels: Blank

#585 Fixed event status.
  EPlast/EPlast.BLL/DTO/UserAuthentication/RegisterDto.cs
  EPlast/EPlast.BLL/Services/Events/ActionManager.cs
  EPlast/EPlast.DataAccess/Entities/Event/Event.cs
Labels: Events (події)

#576 Google Authorization
  EPlast/EPlast.BLL/EPlast.BLL.csproj
  EPlast/EPlast.BLL/Interfaces/Auth/IAuthService.cs
  EPlast/EPlast.BLL/Models/GoogleApiTokenInfo.cs
  EPlast/EPlast.BLL/Services/Auth/AuthService.cs
  EPlast/EPlast.WebApi/Controllers/AuthController.cs
  EPlast/EPlast.WebApi/EPlast.WebApi.csproj
  EPlast/EPlast.WebApi/appsettings.json
Labels: enhancement

#596 Decisions pdf fix
  EPlast/EPlast.BLL/Services/PDF/Documents/DecisionDocument.cs
  EPlast/EPlast.BLL/Services/PDF/Documents/TextFormatter.cs
Labels: Decisions, Improvement

#597 Google authorization hotfix
  EPlast/EPlast.BLL/Models/GoogleApiTokenInfo.cs
  EPlast/EPlast.WebApi/appsettings.json
Labels: Bug
