Repository ita-social-projects/EPlast, pull requests merged in 2020-12, with the labels that each got.

#726 Fix google and facebook login
  EPlast/EPlast.BLL/Interfaces/ActiveMembership/IUserDatesService.cs
  EPlast/EPlast.BLL/Services/ActiveMembership/UserDatesService.cs
  EPlast/EPlast.BLL/Services/Auth/AuthService.cs
  EPlast/EPlast.WebApi/Controllers/AuthController.cs
Labels: Bug

#740 Added possibility to edit, cancel and delete clubAnnualReport
  EPlast/EPlast.BLL/Interfaces/Club/IClubAnnualReportService.cs
  EPlast/EPlast.BLL/Services/Club/ClubAnnualReportService.cs
  EPlast/EPlast.WebApi/Controllers/ClubController.cs
Labels: AnnualReports

#746 Fix for club members and admins
  EPlast/EPlast.BLL/Services/Club/ClubService.cs
Labels: Clubs

#743 Regions tests
  EPlast/EPlast.Tests/Controllers/RegionsControllerTests.cs
  EPlast/EPlast.Tests/Services/Regions/RegionAdministrationServiceTests.cs
  EPlast/EPlast.Tests/Services/Regions/RegionAnnualReportServiceTest.cs
  EPlast/EPlast.Tests/Services/Regions/RegionServiceTest.cs
Labels: Regions (округи)

#748 Admin service tests
  EPlast/EPlast.Tests/Services/AdminServiceTests.cs
Labels: Profile

#751 Added unit-tests for CityService, CityAdminService
  EPlast/EPlast.Tests/Services/City/CityAdministrationServiceTests.cs
  EPlast/EPlast.Tests/Services/City/CityServiceTests.cs
Labels: Cities (станиці)

#754 Added check for already created regions and clubs
  EPlast/EPlast.BLL/Services/Club/ClubService.cs
  EPlast/EPlast.BLL/Services/Region/RegionService.cs
  EPlast/EPlast.Tests/Services/Regions/RegionServiceTest.cs
  EPlast/EPlast.WebApi/Controllers/ClubController.cs
Labels: Clubs, Regions (округи)

#752 Regions and Events new tests
  EPlast/EPlast.Tests/Services/Event/EventAdministrationManagerTests.cs
  EPlast/EPlast.Tests/Services/Event/EventCalendarServiceTests.cs
  EPlast/EPlast.Tests/Services/Event/EventsManagerTests.cs
  EPlast/EPlast.Tests/Services/Regions/RegionAccessForAdminGetterTests.cs
  EPlast/EPlast.Tests/Services/Regions/RegionAccessForRegionAdminGetterTests.cs
  EPlast/EPlast.Tests/Services/Regions/RegionAdministrationServiceTests.cs
  EPlast/EPlast.Tests/Services/Regions/RegionAnnualReportServiceTest.cs
Labels: Regions (округи)

#763 Adding unit-tests for City
  EPlast/EPlast.BLL/Services/Club/ClubService.cs
  EPlast/EPlast.Tests/Controllers/CityControllerTests.cs
  EPlast/EPlast.Tests/Controllers/ClubControllerTests.cs
  EPlast/EPlast.Tests/Services/City/CityAdministrationServiceTests.cs
  EPlast/EPlast.Tests/Services/City/CityDocumentsServiceTest.cs
  EPlast/EPlast.Tests/Services/City/CityMembersServiceTests.cs
  EPlast/EPlast.Tests/Services/City/CityServiceTests.cs
  EPlast/EPlast.Tests/Services/Club/ClubDocumentsServiceTest.cs
  EPlast/EPlast.Tests/Services/Club/ClubParticipantsServiceTests.cs
  EPlast/EPlast.Tests/Services/Club/ClubServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/CitiesController.cs
Labels: Cities (станиці), Clubs

#767 Fixes for event notifications
  EPlast/EPlast.BLL/DTO/Events/GeneralEventDTO.cs
  EPlast/EPlast.BLL/Services/Events/ActionManager.cs
  EPlast/EPlast.XUnitTest/Services/Events/ActionManagerTests.cs
Labels: Events (події)

#774 Added Annual report tests
  EPlast/EPlast.Tests/Controllers/AnnualReportControllerTests.cs
  EPlast/EPlast.Tests/Controllers/AuthControllerTests.cs
Labels: AnnualReports

#785 Fix swagger
  EPlast/EPlast.WebApi/StartupExtensions/AddSwaggerExtension.cs
Labels: Bug

#775 Added and edited tests for Decisions and blanks
  EPlast/EPlast.BLL/Interfaces/Blank/IBlankAchievementDocumentService.cs
  EPlast/EPlast.BLL/Services/Blank/AchievementDocumentService.cs
  EPlast/EPlast.BLL/Services/Decision/DecisionService.cs
  EPlast/EPlast.Tests/Controllers/BlanksControllerTests.cs
  EPlast/EPlast.Tests/Controllers/DecisionsControllerTests.cs
  EPlast/EPlast.Tests/Services/Blank/BlankAchievementsServiceTest.cs
  EPlast/EPlast.Tests/Services/Decision/DecisionsServiceTest.cs
  EPlast/EPlast.WebApi/Controllers/BlanksController.cs
Labels: Blank, Decisions (Рішення)

#786 Change entry date for users
  EPlast/EPlast.BLL/Interfaces/UserProfiles/IUserService.cs
  EPlast/EPlast.BLL/Services/ActiveMembership/UserDatesService.cs
  EPlast/EPlast.BLL/Services/Admin/AdminService.cs
  EPlast/EPlast.BLL/Services/City/CityParticipantsService.cs
  EPlast/EPlast.BLL/Services/ConfirmedUsers/ConfirmedUsersService.cs
  EPlast/EPlast.BLL/Services/UserProfiles/UserService.cs
  EPlast/EPlast.Tests/Controllers/UserControllerTests.cs
  EPlast/EPlast.Tests/Services/AdminServiceTests.cs
  EPlast/EPlast.Tests/Services/City/CityParticipantsServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/UserController.cs
Labels: Active Membership

#787 Added role for RegisterUser
  EPlast/EPlast.BLL/Services/Auth/AuthService.cs
  EPlast/EPlast.WebApi/Startup.cs
Labels: Profile

#789 Decisions blanks
  EPlast/EPlast.Tests/Services/Decision/DecisionsServiceTest.cs
Labels: Blank, Decisions (Рішення)

#788 addedNewTestsForClubAnnualReportService
  EPlast/EPlast.Tests/Services/Club/ClubAnnualReportServiceTests.cs
Labels: AnnualReports, Clubs

#784 Add unit-tests for GetProfile methods in City and Club services.
  EPlast/EPlast.Tests/Services/City/CityServiceTests.cs
  EPlast/EPlast.Tests/Services/Club/ClubServiceTests.cs
Labels: Cities (станиці), Clubs

#790 AddedNewTestsAddFollower
  EPlast/EPlast.Tests/Services/City/CityParticipantsServiceTests.cs
Labels: Cities (станиці)
