Repository ita-social-projects/EPlast, pull requests merged in 2021-12, with the labels that each got.

#2106 Add remove records and fix archive for region
  EPlast/EPlast.BLL/Services/Region/RegionService.cs
  EPlast/EPlast.Tests/Controllers/UserRenewalControllerTests.cs
  EPlast/EPlast.Tests/Services/Regions/RegionServiceTest.cs
  EPlast/EPlast.Tests/Services/UserProfiles/UserRenewalServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
Labels: Regions (округи)

#2107 Removed oath date reset
  EPlast/EPlast.BLL/Services/UserProfiles/UserRenewalService.cs
Labels: User renewals

#2118 fixed user accesses for events
  EPlast/EPlast.BLL/Interfaces/EventUser/IEventUserAccessService.cs
  EPlast/EPlast.BLL/Services/EventUser/EventUserAccess/EventUserAccessService.cs
  EPlast/EPlast.BLL/Services/EventUser/EventUserManager.cs
  EPlast/EPlast.BLL/Services/Events/ActionManager.cs
  EPlast/EPlast.BLL/Services/UserAccess/UserAccessService.cs
  EPlast/EPlast.Resources/FunctionalityWithSpecificAccessForEvents.cs
  EPlast/EPlast.Tests/Controllers/EventsControllerTests.cs
  EPlast/EPlast.Tests/Services/Event/EventUserAccessServiceTests.cs
  EPlast/EPlast.Tests/Services/UserAcccess/UserAccessServiceTests.cs
  EPlast/EPlast.WebApi/AccessSecurityModel/EventUserAccessSettings.json
Labels: Bug, Events (події)

#2114 Delete yourself bug fixed
  EPlast/EPlast.BLL/Interfaces/City/ICityParticipantsService.cs
  EPlast/EPlast.BLL/Interfaces/Club/IClubParticipantsService.cs
  EPlast/EPlast.BLL/Services/City/CityParticipantsService.cs
  EPlast/EPlast.BLL/Services/Club/ClubParticipantsService.cs
  EPlast/EPlast.Tests/Controllers/CityControllerTests.cs
  EPlast/EPlast.Tests/Controllers/ClubControllerTests.cs
  EPlast/EPlast.Tests/Services/City/CityParticipantsServiceTests.cs
  EPlast/EPlast.Tests/Services/Club/ClubParticipantsServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/CitiesController.cs
  EPlast/EPlast.WebApi/Controllers/ClubController.cs
Labels: Hovels (Курені), Cities (станиці)

#2119 Added proper data getting for EducatorsStaff table (covers issue #2117)
  EPlast/EPlast.BLL/Interfaces/EducatorsStaff/IEducatorsStaffService.cs
  EPlast/EPlast.BLL/Services/EducatorsStaff/EducatorsStaffService.cs
  EPlast/EPlast.DataAccess/EPlastDBContext.cs
  EPlast/EPlast.DataAccess/Entities/EducatorsStaff/EducatorsStaffTableObject.cs
  EPlast/EPlast.DataAccess/Repositories/Interfaces/EducatorsStaff/IEducatorsStaffRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/EducatorsStaff/EducatorsStaffRepository.cs
  EPlast/EPlast.Tests/Controllers/EducatorsStaffControllerTests.cs
  EPlast/EPlast.Tests/Services/EducatorStaff/EducatorsStaffServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/EducatorsStaffController.cs
Labels: Senior Staff (Кадра виховників), Performance

#2137 few fixes
  EPlast/EPlast.BLL/Services/AnnualReport/AnnualReportAccessService.cs
  EPlast/EPlast.WebApi/AccessSecurityModel/AnnualReportAccessSettings.json
Labels: AnnualReports, Рівні доступу (Access Levels)

#2135 Fixed a few code smells
  EPlast/EPlast.BLL/Services/City/CityAccess/CityAccessService.cs
  EPlast/EPlast.BLL/Services/City/CityParticipantsService.cs
  EPlast/EPlast.BLL/Services/City/CityService.cs
  EPlast/EPlast.BLL/Services/Club/ClubAccess/ClubAccessService.cs
  EPlast/EPlast.BLL/Services/Club/ClubParticipantsService.cs
  EPlast/EPlast.BLL/Services/PDF/Documents/TextFormatter.cs
  EPlast/EPlast.BLL/Services/Region/RegionAccess/RegionAccessService.cs
  EPlast/EPlast.BLL/Services/Statistics/StatisticsItems/Interfaces/MajorStatisticsItem.cs
  EPlast/EPlast.WebApi/Controllers/BlanksController.cs
  EPlast/EPlast.WebApi/Controllers/EventsUsersController.cs
  EPlast/EPlast.WebApi/Controllers/UserController.cs
Labels: CodeSmells

#2128 Postman bug fixed
  EPlast/EPlast.Resources/Roles.cs
  EPlast/EPlast.WebApi/Controllers/CitiesController.cs
  EPlast/EPlast.WebApi/Controllers/ClubController.cs
Labels: Hovels (Курені), Cities (станиці)

#2145 Postman hovel creation fixed
  EPlast/EPlast.BLL/Services/Club/ClubService.cs
  EPlast/EPlast.Resources/Roles.cs
  EPlast/EPlast.Tests/Services/Club/ClubServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/ClubController.cs
Labels: Hovels (Курені)

#2140 fixed access for creating kadra and cover by test
  EPlast/EPlast.BLL/Services/EducatorsStaff/EducatorsStaffService.cs
  EPlast/EPlast.Tests/Services/EducatorStaff/EducatorsStaffServiceTests.cs
  EPlast/EPlast.WebApi/StartupExtensions/AddDependenciesExtension.cs
Labels: Senior Staff (Кадра виховників), Postman

#2129 Constructor code smells fix
  EPlast/EPlast.BLL/Interfaces/ActiveMembership/IUserDatesService.cs
  EPlast/EPlast.BLL/Interfaces/City/ICityParticipantsService.cs
  EPlast/EPlast.BLL/Interfaces/Club/IClubParticipantsService.cs
  EPlast/EPlast.BLL/Interfaces/FormerMember/IFormerMemberAdminService.cs
  EPlast/EPlast.BLL/Interfaces/FormerMember/IFormerMemberService.cs
  EPlast/EPlast.BLL/Interfaces/GoverningBodies/IGoverningBodyAdministrationService.cs
  EPlast/EPlast.BLL/Interfaces/GoverningBodies/Sector/ISectorAdministrationService.cs
  EPlast/EPlast.BLL/Interfaces/Region/IRegionAdministrationService.cs
  EPlast/EPlast.BLL/Services/ActiveMembership/UserDatesService.cs
  EPlast/EPlast.BLL/Services/Admin/AdminService.cs
  EPlast/EPlast.BLL/Services/City/CityParticipantsService.cs
  EPlast/EPlast.BLL/Services/Club/ClubParticipantsService.cs
  EPlast/EPlast.BLL/Services/FormerMember/FormerMemberAdminService.cs
  EPlast/EPlast.BLL/Services/FormerMember/FormerMemberService.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/GoverningBodyAdministrationService.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/Sector/SectorAdministrationService.cs
  EPlast/EPlast.BLL/Services/Region/RegionAdministrationService.cs
  EPlast/EPlast.Tests/Controllers/AdminControllerTests.cs
  EPlast/EPlast.Tests/Services/Admin/AdminServiceTests.cs
  EPlast/EPlast.Tests/Services/City/CityParticipantsServiceTests.cs
  EPlast/EPlast.Tests/Services/Club/ClubParticipantsServiceTests.cs
  EPlast/EPlast.Tests/Services/FormerMember/FormerMemberAdminServiceTest.cs
  EPlast/EPlast.Tests/Services/FormerMember/FormerMemberServiceTests.cs
  EPlast/EPlast.Tests/Services/GoverningBody/GoverningBodyAdministrationServiceTests.cs
  EPlast/EPlast.Tests/Services/GoverningBody/Sector/SectorAdministrationServiceTests.cs
  EPlast/EPlast.Tests/Services/Regions/RegionAdministrationServiceTests.cs
  EPlast/EPlast.WebApi/StartupExtensions/AddDependenciesExtension.cs
Labels: Hovels (Курені), Cities (станиці), Active Membership, Regions (округи), Governing Bodies(Керівні Органи), Governing Body's Sectors(Напрями), Рівні доступу (Access Levels)

#2152 Delete users every hour who have not confirmed their email during 12 …
  EPlast/EPlast.BLL/Interfaces/Auth/IAuthService.cs
  EPlast/EPlast.BLL/Services/Auth/AuthService.cs
  EPlast/EPlast.Tests/Services/Auth/AuthServiceTests.cs
  EPlast/EPlast.WebApi/StartupExtensions/AddRecurringJobManager.cs
Labels: registration

#2154 Added 0 instead of *
  EPlast/EPlast.WebApi/StartupExtensions/AddRecurringJobManager.cs
Labels: registration

#2161 changed dates mapping
  EPlast/EPlast.BLL/Mapping/Events/EventInfoProfile.cs
Labels: Events (події)

#2160 add pagination
  EPlast/EPlast.BLL/DTO/City/CityObjectDTO.cs
  EPlast/EPlast.BLL/Interfaces/City/ICityService.cs
  EPlast/EPlast.BLL/Mapping/City/CityProfile.cs
  EPlast/EPlast.BLL/Services/City/CityService.cs
  EPlast/EPlast.DataAccess/EPlastDBContext.cs
  EPlast/EPlast.DataAccess/Entities/City/CityObject.cs
  EPlast/EPlast.DataAccess/Repositories/Interfaces/City/ICityRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/City/CityRepository.cs
  EPlast/EPlast.Tests/Controllers/CityControllerTests.cs
  EPlast/EPlast.Tests/Controllers/RegionsControllerTests.cs
  EPlast/EPlast.Tests/Services/City/CityServiceTests.cs
  EPlast/EPlast.Tests/Services/Regions/RegionServiceTest.cs
  EPlast/EPlast.WebApi/Controllers/CitiesController.cs
Labels: Cities (станиці)

#2166 Fixed [Decisions] It is possible to create Decisions with more than 6…
  EPlast/EPlast.BLL/DTO/Decision/DecisionDTO.cs
  EPlast/EPlast.DataAccess/Entities/Decision/Decesion.cs
Labels: Decisions (Рішення)

#2153 Club pagination and Redis fix
  EPlast/EPlast.BLL/DTO/Club/ClubObjectDTO.cs
  EPlast/EPlast.BLL/Interfaces/Club/IClubService.cs
  EPlast/EPlast.BLL/Mapping/Club/ClubProfile.cs
  EPlast/EPlast.BLL/Services/Club/ClubService.cs
  EPlast/EPlast.BLL/Services/Redis/RedisCacheService.cs
  EPlast/EPlast.DataAccess/Entities/Club/ClubObject.cs
  EPlast/EPlast.DataAccess/Repositories/Interfaces/Base/IRepositoryBase.cs
  EPlast/EPlast.DataAccess/Repositories/Interfaces/Club/IClubRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Base/RepositoryBase.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Club/ClubRepository.cs
  EPlast/EPlast.Tests/Controllers/ClubControllerTests.cs
  EPlast/EPlast.Tests/Services/Club/ClubServiceTests.cs
  EPlast/EPlast.Tests/Services/Redis/RedisCacheServiceTest.cs
  EPlast/EPlast.WebApi/Controllers/ClubController.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
  EPlast/EPlast.WebApi/appsettings.json
Labels: Hovels (Курені), Regions (округи)

#2173 fixed empty TargetName on add decision
  EPlast/EPlast.BLL/DTO/Decision/DecisionTargetDTO.cs
Labels: Decisions (Рішення), Postman

#2178 Updated UserManagerService (improvements, additions, etc.)
  EPlast/EPlast.BLL/Interfaces/UserManager/IUserManagerService.cs
  EPlast/EPlast.BLL/Services/UserManager/UserManagerService.cs
  EPlast/EPlast.Tests/Services/UserManager/UserManagerServiceTests.cs
Labels: Improvement

#2072 Added endpoint which is responsible for user profile access
  EPlast/EPlast.BLL/Interfaces/UserAccess/IUserAccessService.cs
  EPlast/EPlast.BLL/Interfaces/UserAccess/IUserAccessWrapper.cs
  EPlast/EPlast.BLL/Interfaces/UserProfiles/IUserProfileAccessService.cs
  EPlast/EPlast.BLL/Services/UserAccess/UserAccessService.cs
  EPlast/EPlast.BLL/Services/UserAccess/UserAccessWrapper.cs
  EPlast/EPlast.BLL/Services/UserProfiles/UserProfileAccessService.cs
  EPlast/EPlast.BLL/Services/UserProfiles/UserService.cs
  EPlast/EPlast.Tests/Controllers/UserAccessControllerTests.cs
  EPlast/EPlast.Tests/Services/UserAcccess/UserAccessServiceTests.cs
  EPlast/EPlast.Tests/Services/UserAcccess/UserAccessWrapperTests.cs
  EPlast/EPlast.Tests/Services/UserProfiles/UserProfileAccessServiceTests.cs
  EPlast/EPlast.WebApi/AccessSecurityModel/UserProfileAccessSettings.json
  EPlast/EPlast.WebApi/Controllers/UserAccessController.cs
  EPlast/EPlast.WebApi/CustomAttributes/BitrhdayDateAttribute.cs
  EPlast/EPlast.WebApi/Models/UserModels/UserViewModel.cs
  EPlast/EPlast.WebApi/StartupExtensions/AddDependenciesExtension.cs
Labels: Profile, Рівні доступу (Access Levels)

#2179 Added [JsonIgnore] on CityAdministration in CityDTO
  EPlast/EPlast.BLL/DTO/City/CityDTO.cs
Labels: Awards (Відзначення), Senior Staff (Кадра виховників), Перестороги (Warnings), Postman

#2180 Updated GoverningBodiesService, added recurring job (covers Bug #2167)
  EPlast/EPlast.BLL/Interfaces/GoverningBodies/IGoverningBodiesService.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/GoverningBodiesService.cs
  EPlast/EPlast.Tests/Controllers/GoverningBodiesControllerTests.cs
  EPlast/EPlast.Tests/Services/GoverningBody/GoverningBodiesServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/GoverningBodiesController.cs
  EPlast/EPlast.WebApi/Mapping/GoverningBody/GoverningBodyTableProfile.cs
  EPlast/EPlast.WebApi/Models/GoverningBody/GoverningBodyTableViewModel.cs
  EPlast/EPlast.WebApi/StartupExtensions/AddRecurringJobManager.cs
Labels: Governing Bodies(Керівні Органи), Governing Body's Sectors(Напрями)

#2185 Fixed access for editing city annual report
  EPlast/EPlast.BLL/Services/AnnualReport/AnnualReportAccessService.cs
  EPlast/EPlast.Tests/Services/AnnualReport/AnnualReportAccessServiceTests.cs
Labels: AnnualReports, Рівні доступу (Access Levels)

#2186 Updated SectorService, added recurring job
  EPlast/EPlast.BLL/Interfaces/GoverningBodies/Sector/ISectorService.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/Sector/SectorService.cs
  EPlast/EPlast.Tests/Controllers/GoverningBodySectorsControllerTests.cs
  EPlast/EPlast.Tests/Services/GoverningBody/Sector/SectorServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/GoverningBodySectorsController.cs
  EPlast/EPlast.WebApi/Mapping/GoverningBody/Sector/SectorTableProfile.cs
  EPlast/EPlast.WebApi/Models/GoverningBody/Sector/SectorTableViewModel.cs
  EPlast/EPlast.WebApi/StartupExtensions/AddRecurringJobManager.cs
Labels: Improvement, Governing Body's Sectors(Напрями)

#2181 Check if register number exists on update and if user has staff on cr…
  EPlast/EPlast.BLL/Services/EducatorsStaff/EducatorsStaffService.cs
  EPlast/EPlast.Tests/Services/EducatorStaff/EducatorsStaffServiceTests.cs
Labels: Senior Staff (Кадра виховників), Postman

#2190 Fixed message and cronjob expression
  EPlast/EPlast.Resources/AuthenticationErrors.en.resx
  EPlast/EPlast.WebApi/StartupExtensions/AddRecurringJobManager.cs
Labels: registration, UI

#2191 Changed accesses in editing and getting annual reports
  EPlast/EPlast.BLL/Services/AnnualReport/AnnualReportAccessService.cs
  EPlast/EPlast.WebApi/Controllers/AnnualReportController.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
Labels: AnnualReports, Рівні доступу (Access Levels)

#2200 Annual report access refactoring
  EPlast/EPlast.BLL/Interfaces/AnnualReport/IAnnualReportAccessService.cs
  EPlast/EPlast.BLL/Services/AnnualReport/AnnualReportAccessService.cs
  EPlast/EPlast.BLL/Services/UserAccess/UserAccessService.cs
  EPlast/EPlast.Tests/Services/AnnualReport/AnnualReportAccessServiceTests.cs
  EPlast/EPlast.Tests/Services/UserAcccess/UserAccessServiceTests.cs
  EPlast/EPlast.WebApi/AccessSecurityModel/AnnualReportAccessSettings.json
Labels: AnnualReports

#2209 edit accesses
  EPlast/EPlast.WebApi/AccessSecurityModel/CityAccessSettings.json
Labels: Cities (станиці)

#2210 json fix
  EPlast/EPlast.WebApi/AccessSecurityModel/AnnualReportAccessSettings.json
Labels: AnnualReports, Рівні доступу (Access Levels)

#2214 Added missing status check
  EPlast/EPlast.BLL/Services/AnnualReport/AnnualReportAccessService.cs
Labels: AnnualReports, Рівні доступу (Access Levels)

#2215 Access typo fix
  EPlast/EPlast.BLL/Services/AnnualReport/AnnualReportAccessService.cs
  EPlast/EPlast.Tests/Services/AnnualReport/AnnualReportAccessServiceTests.cs
Labels: AnnualReports, Рівні доступу (Access Levels)

#2197 Returned possibility to edit entry date (fix #1843)
  EPlast/EPlast.BLL/DTO/ActiveMembership/EntryAndOathDateDTO.cs
  EPlast/EPlast.BLL/Interfaces/ActiveMembership/IUserDatesService.cs
  EPlast/EPlast.BLL/Services/ActiveMembership/UserDatesService.cs
  EPlast/EPlast.Tests/Controllers/ActiveMembershipControllerTests.cs
  EPlast/EPlast.Tests/Services/ActiveMembership/UserDatesServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/ActiveMembershipController.cs
Labels: Bug, Active Membership, Profile

#2219 Fixed bug with editing single entry date #1843
  EPlast/EPlast.BLL/Services/ActiveMembership/UserDatesService.cs
  EPlast/EPlast.Tests/Services/ActiveMembership/UserDatesServiceTests.cs
Labels: Bug, Active Membership, Profile

#2221 Added accesses for adding new announcement
  EPlast/EPlast.WebApi/AccessSecurityModel/GoverningBodyAccessSettings.json
Labels: Governing Bodies(Керівні Органи), Рівні доступу (Access Levels)

#2224 check if role is restricted (Supporter) on creating kadra
  EPlast/EPlast.BLL/Services/EducatorsStaff/EducatorsStaffService.cs
  EPlast/EPlast.Tests/Services/EducatorStaff/EducatorsStaffServiceTests.cs
Labels: Senior Staff (Кадра виховників), Postman

#2241 Add message when existing user registering
  EPlast/EPlast.Resources/AuthenticationErrors.en.resx
  EPlast/EPlast.Tests/Controllers/AuthControllerTests.cs
  EPlast/EPlast.WebApi/Controllers/AuthController.cs
Labels: Notifications(Сповіщення), registration
