Repository ita-social-projects/EPlast, pull requests merged in 2021-07, with the labels that each got.

#1385 Fixed bug with email notifications for city head and city head deputy
  EPlast/EPlast.BLL/Services/City/CityParticipantsService.cs
Labels: Type: Bug

#1386 Fixed url in greeting email
  EPlast/EPlast.BLL/Services/Auth/AuthEmailService.cs
Labels: Type: Bug

#1397 Fix Delete City Admins
  EPlast/EPlast.BLL/Services/City/CityParticipantsService.cs
Labels: Cities (станиці)

#1410 Fixed spelling mistakes with password
  EPlast/EPlast.BLL/Services/EmailSending/EmailContentService.cs
  EPlast/EPlast.Resources/AuthenticationErrors.en.resx
  EPlast/EPlast.Resources/AuthenticationErrors.uk.resx
  EPlast/EPlast.Tests/Controllers/PasswordControllerTests.cs
Labels: Type: Bug

#1422 Add one degree for user
  EPlast/EPlast.BLL/Services/ActiveMembership/PlastDegreeService.cs
  EPlast/EPlast.Tests/Services/ActiveMembership/PlastDegreeServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/ActiveMembershipController.cs
Labels: Active Membership, Degree

#1427 User table
  EPlast/EPlast.BLL/DTO/Admin/TableFilterParameters.cs
  EPlast/EPlast.BLL/DTO/UserProfiles/UserTableDTO.cs
  EPlast/EPlast.BLL/Interfaces/Admin/IAdminService.cs
  EPlast/EPlast.BLL/Mapping/User/UserTableProfile.cs
  EPlast/EPlast.BLL/Services/Admin/AdminService.cs
  EPlast/EPlast.BLL/Services/AnnualReport/AnnualReportService.cs
  EPlast/EPlast.DataAccess/Entities/UserEntities/UserTableObject.cs
  EPlast/EPlast.DataAccess/Repositories/Interfaces/Admin/IAdminTypeRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Admin/AdminTypeRepository.cs
  EPlast/EPlast.Tests/Controllers/AdminControllerTests.cs
  EPlast/EPlast.Tests/Services/Admin/AdminServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/AdminController.cs
  EPlast/EPlast.XUnitTest/Services/AnnualReport/AnnualReportServiceTests.cs
Labels: Bug, Degree, Profile, Users Table (Таблиця користувачів)

#1437 Change notification text
  EPlast/EPlast.Resources/AuthenticationErrors.en.resx
  EPlast/EPlast.Resources/AuthenticationErrors.uk.resx
  EPlast/EPlast.Tests/Controllers/AuthControllerTests.cs
Labels: Bug, Notifications(Сповіщення)

#1442 Add user access for creating governing body sectors
  EPlast/EPlast.WebApi/AccessSecurityModel/GoverningBodyAccessSettings.json
Labels: Governing Bodies(Керівні Органи), Governing Body's Sectors(Напрями), Рівні доступу (Access Levels)

#1443 Added remowing admin rigths when deleting region
  EPlast/EPlast.Tests/Controllers/RegionsControllerTests.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
Labels: Governing Bodies(Керівні Органи), Regions (округи), Type: Bug, Рівні доступу (Access Levels)

#1448 Fixed bug
  EPlast/EPlast.BLL/Services/PDF/Documents/BlankDocument.cs
Labels: Type: Bug

#1456 Display the role of the governing body in secretaries ( "Діловодства" )tab
  EPlast/EPlast.BLL/Interfaces/GoverningBodies/IGoverningBodiesService.cs
  EPlast/EPlast.BLL/Services/City/CityParticipantsService.cs
  EPlast/EPlast.BLL/Services/Club/ClubParticipantsService.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/GoverningBodiesService.cs
  EPlast/EPlast.BLL/Services/Region/RegionAdministrationService.cs
  EPlast/EPlast.Tests/Controllers/GoverningBodiesControllerTests.cs
  EPlast/EPlast.Tests/Services/GoverningBody/GoverningBodiesServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/GoverningBodiesController.cs
Labels: Governing Bodies(Керівні Органи), Profile, Secretaries

#1464 Display Former Secretaries in descending order
  EPlast/EPlast.BLL/Services/City/CityParticipantsService.cs
  EPlast/EPlast.BLL/Services/Club/ClubParticipantsService.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/GoverningBodiesService.cs
  EPlast/EPlast.BLL/Services/Region/RegionAdministrationService.cs
Labels: Secretaries

#1469 Fixed access levels for registered user
  EPlast/EPlast.WebApi/Controllers/CitiesController.cs
  EPlast/EPlast.WebApi/Controllers/ClubController.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
Labels: Рівні доступу (Access Levels)

#1471 [Email notification] edit some general content #1457
  EPlast/EPlast.BLL/Services/EmailSending/EmailContentService.cs
Labels: Bug, Configuration, Notifications(Сповіщення)

#1475 Sort documents by date
  EPlast/EPlast.BLL/DTO/GoverningBody/GoverningBodyDocumentsDTO.cs
  EPlast/EPlast.BLL/DTO/GoverningBody/Sector/SectorDocumentsDTO.cs
  EPlast/EPlast.BLL/DTO/IDocumentDTO.cs
  EPlast/EPlast.BLL/DTO/Region/RegionDocumentDTO.cs
  EPlast/EPlast.BLL/Services/ActiveMembership/AccessLevelService.cs
  EPlast/EPlast.BLL/Services/DocumentsSorter.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/GoverningBodiesService.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/GoverningBodyAdministrationService.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/Sector/SectorService.cs
  EPlast/EPlast.BLL/Services/Region/RegionService.cs
  EPlast/EPlast.Tests/Services/DocumentsSorterTests.cs
Labels: Governing Bodies(Керівні Органи), Governing Body's Sectors(Напрями), Regional Board of the Plast, Regions (округи), Type: Maintenances

#1497 Set documents count for response
  EPlast/EPlast.Tests/Controllers/GoverningBodiesControllerTests.cs
  EPlast/EPlast.Tests/Controllers/GoverningBodySectorsControllerTests.cs
  EPlast/EPlast.WebApi/Controllers/GoverningBodiesController.cs
  EPlast/EPlast.WebApi/Controllers/GoverningBodySectorsController.cs
Labels: Governing Bodies(Керівні Органи), Governing Body's Sectors(Напрями)

#1511 Set correct access levels on governing body sectors
  EPlast/EPlast.WebApi/AccessSecurityModel/GoverningBodyAccessSettings.json
  EPlast/EPlast.WebApi/AccessSecurityModel/GoverningBodySectorAccessSettings.json
Labels: Governing Bodies(Керівні Органи), Governing Body's Sectors(Напрями), Рівні доступу (Access Levels)

#1519 Fix access to RegionsBoard documents for registered user
  EPlast/EPlast.Tests/Controllers/RegionsBoardControllerTests.cs
  EPlast/EPlast.WebApi/Controllers/RegionsBoardController.cs
Labels: Regional Board of the Plast, Рівні доступу (Access Levels)

#1514 fix add and update Club Admin
  EPlast/EPlast.BLL/Services/Club/ClubParticipantsService.cs
  EPlast/EPlast.BLL/Services/Club/ClubService.cs
  EPlast/EPlast.Tests/Services/Club/ClubParticipantsServiceTests.cs
  EPlast/EPlast.Tests/Services/Club/ClubServiceTests.cs
Labels: Clubs

#1526 Sort documents on documents sections for City,Hovels
  EPlast/EPlast.BLL/DTO/City/CityDocumentsDTO.cs
  EPlast/EPlast.BLL/DTO/Club/ClubDocumentsDTO.cs
  EPlast/EPlast.BLL/Services/City/CityService.cs
  EPlast/EPlast.BLL/Services/Club/ClubService.cs
Labels: Bug, Cities (станиці), Hovels (Курені), documentation
