Repository ita-social-projects/EPlast, pull requests merged in 2021-04, with the labels that each got.

#1073 Users table filter procedure
  EPlast/EPlast.BLL/DTO/Admin/TableFilterParameters.cs
  EPlast/EPlast.BLL/DTO/UserProfiles/ConfirmedUserDTO.cs
  EPlast/EPlast.BLL/DTO/UserProfiles/DegreeDTO.cs
  EPlast/EPlast.BLL/DTO/UserProfiles/DistinctionDTO.cs
  EPlast/EPlast.BLL/DTO/UserProfiles/EducationDTO.cs
  EPlast/EPlast.BLL/DTO/UserProfiles/GenderDTO.cs
  EPlast/EPlast.BLL/DTO/UserProfiles/NationalityDTO.cs
  EPlast/EPlast.BLL/DTO/UserProfiles/ReligionDTO.cs
  EPlast/EPlast.BLL/DTO/UserProfiles/UpuDegreeDTO.cs
  EPlast/EPlast.BLL/DTO/UserProfiles/UserDTO.cs
  EPlast/EPlast.BLL/DTO/UserProfiles/UserDistinctionDTO.cs
  EPlast/EPlast.BLL/DTO/UserProfiles/UserPrecautionDTO.cs
  EPlast/EPlast.BLL/DTO/UserProfiles/UserProfileDTO.cs
  EPlast/EPlast.BLL/DTO/UserProfiles/UserTableDTO.cs
  EPlast/EPlast.BLL/DTO/UserProfiles/WorkDTO.cs
  EPlast/EPlast.BLL/Interfaces/Admin/IAdminService.cs
  EPlast/EPlast.BLL/Interfaces/Admin/IAdminTypeService.cs
  EPlast/EPlast.BLL/Mapping/User/UserTableProfile.cs
  EPlast/EPlast.BLL/Services/Admin/AdminService.cs
  EPlast/EPlast.BLL/Services/Admin/AdminTypeService.cs
  EPlast/EPlast.BLL/Services/Precautions/PrecautionService.cs
  EPlast/EPlast.BLL/Services/Precautions/UserPrecautionService.cs
  EPlast/EPlast.DataAccess/EPlastDBContext.cs
  EPlast/EPlast.DataAccess/Entities/Admin/AdminType.cs
  EPlast/EPlast.DataAccess/Entities/AnnualReport/AnnualReport.cs
  EPlast/EPlast.DataAccess/Entities/AnnualReport/AnnualReportStatus.cs
  EPlast/EPlast.DataAccess/Entities/AnnualReport/MembersStatistic.cs
  EPlast/EPlast.DataAccess/Entities/Blank/AchievementDocuments.cs
  EPlast/EPlast.DataAccess/Entities/Blank/BlankBiographyDocuments.cs
  EPlast/EPlast.DataAccess/Entities/Blank/ExtractFromUPUDocuments.cs
  EPlast/EPlast.DataAccess/Entities/City/City.cs
  EPlast/EPlast.DataAccess/Entities/City/CityAdministration.cs
  EPlast/EPlast.DataAccess/Entities/UserEntities/UserTableObject.cs
  EPlast/EPlast.DataAccess/Repositories/Interfaces/Admin/IAdminTypeRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Interfaces/Admin/IOrganizationRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Interfaces/User/IUserRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Admin/AdminTypeRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Admin/OrganizationRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/User/UserRepository.cs
  EPlast/EPlast.Tests/Controllers/AdminControllerTests.cs
  EPlast/EPlast.Tests/Controllers/PrecautionControllerTests.cs
  EPlast/EPlast.Tests/Services/Admin/AdminServiceTests.cs
  EPlast/EPlast.Tests/Services/Precautions/UserPrecautionServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/AdminController.cs
  EPlast/EPlast.WebApi/Controllers/PrecautionController.cs
  EPlast/EPlast.WebApi/Models/Admin/AdminTypeViewModel.cs
Labels: Users Table (Таблиця користувачів)

#1091 quick fixes
  EPlast/EPlast.BLL/Interfaces/Admin/IAdminService.cs
  EPlast/EPlast.BLL/Services/Admin/AdminService.cs
Labels: Users Table (Таблиця користувачів)

#1079 Access levels to const roles & registeredUser role not removing bug fix
  EPlast/EPlast.BLL/DTO/ActiveMembership/AccessLevelTypeDTO.cs
  EPlast/EPlast.BLL/DTO/ActiveMembership/RolesForActiveMembershipTypeDTO.cs
  EPlast/EPlast.BLL/Services/ActiveMembership/AccessLevelService.cs
  EPlast/EPlast.BLL/Services/Admin/AdminService.cs
  EPlast/EPlast.Tests/Services/ActiveMembership/AccessLevelServiceTests.cs
  EPlast/EPlast.Tests/Services/Admin/AdminServiceTests.cs
Labels: Active Membership

#1107 Fixed bugs in user profile editing. Added possibility of adding bran…
  EPlast/EPlast.DataAccess/Entities/UserEntities/Nationality.cs
  EPlast/EPlast.DataAccess/Entities/UserEntities/Religion.cs
  EPlast/EPlast.WebApi/Models/UserModels/UserProfileFields/NationalityViewModel.cs
  EPlast/EPlast.WebApi/Models/UserModels/UserProfileFields/ReligionViewModel.cs
Labels: Bug

#1104 Annual report
  EPlast/EPlast.BLL/Services/Club/ClubAnnualReportService.cs
  EPlast/EPlast.BLL/Services/Club/ClubService.cs
  EPlast/EPlast.Tests/Controllers/RegionsControllerTests.cs
  EPlast/EPlast.Tests/Services/Club/ClubAnnualReportServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
Labels: AnnualReports

#1101 New and updated emails
  EPlast/EPlast.BLL/Interfaces/Auth/IAuthEmailService.cs
  EPlast/EPlast.BLL/Interfaces/EmailSending/IEmailContentService.cs
  EPlast/EPlast.BLL/Interfaces/UserProfiles/IUserService.cs
  EPlast/EPlast.BLL/Models/EmailModel.cs
  EPlast/EPlast.BLL/Services/Auth/AuthEmailService.cs
  EPlast/EPlast.BLL/Services/Auth/AuthService.cs
  EPlast/EPlast.BLL/Services/City/CityParticipantsService.cs
  EPlast/EPlast.BLL/Services/ConfirmedUsers/ConfirmedUsersService.cs
  EPlast/EPlast.BLL/Services/EmailSending/EmailContentService.cs
  EPlast/EPlast.BLL/Services/EmailSending/EmailReminderService.cs
  EPlast/EPlast.BLL/Services/EmailSending/NewPlastMemberEmailGreetingService.cs
  EPlast/EPlast.BLL/Services/UserProfiles/UserService.cs
  EPlast/EPlast.Resources/UserGenders.cs
  EPlast/EPlast.Tests/Services/Auth/AuthEmailServiceTests.cs
  EPlast/EPlast.Tests/Services/Auth/AuthServiceTests.cs
  EPlast/EPlast.Tests/Services/City/CityParticipantsServiceTests.cs
  EPlast/EPlast.Tests/Services/EmailSending/EmailContentServiceTests.cs
  EPlast/EPlast.Tests/Services/EmailSending/NewPlastMemberEmailGreetingTests.cs
  EPlast/EPlast.WebApi/StartupExtensions/AddDependenciesExtension.cs
  EPlast/EPlast.XUnitTest/Services/Authentication/AccountServiceTests.cs
  EPlast/EPlast.XUnitTest/Services/UserArea/ConfirmedUsersServiceTests.cs
Labels: Notifications(Сповіщення)

#1133 500StatusCode errors fix
  EPlast/EPlast.BLL/Interfaces/Admin/IAdminService.cs
  EPlast/EPlast.BLL/Interfaces/Precautions/IUserPrecautionService.cs
  EPlast/EPlast.BLL/Services/Admin/AdminService.cs
  EPlast/EPlast.BLL/Services/Precautions/UserPrecautionService.cs
  EPlast/EPlast.Tests/Controllers/AdminControllerTests.cs
  EPlast/EPlast.Tests/Controllers/PrecautionControllerTests.cs
  EPlast/EPlast.Tests/Services/Admin/AdminServiceTests.cs
  EPlast/EPlast.Tests/Services/Precautions/UserPrecautionServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/AdminController.cs
  EPlast/EPlast.WebApi/Controllers/PrecautionController.cs
Labels: Awards (Відзначення), Cities (станиці), Hovels (Курені), Precaution, Regions (округи)

#1127 New emails and weekly reminders
  EPlast/EPlast.BLL/DTO/City/CityMembersDTO.cs
  EPlast/EPlast.BLL/Interfaces/EmailSending/IEmailContentService.cs
  EPlast/EPlast.BLL/Interfaces/EmailSending/IEmailReminderService.cs
  EPlast/EPlast.BLL/Interfaces/EmailSending/INewPlastMemberEmailGreetingService.cs
  EPlast/EPlast.BLL/Services/City/CityParticipantsService.cs
  EPlast/EPlast.BLL/Services/EmailSending/EmailContentService.cs
  EPlast/EPlast.BLL/Services/EmailSending/EmailReminderService.cs
  EPlast/EPlast.BLL/Services/EmailSending/NewPlastMemberEmailGreetingService.cs
  EPlast/EPlast.Tests/Services/City/CityParticipantsServiceTests.cs
  EPlast/EPlast.Tests/Services/EmailSending/EmailContentServiceTests.cs
  EPlast/EPlast.Tests/Services/EmailSending/EmailReminderServiceTests.cs
  EPlast/EPlast.Tests/Services/EmailSending/NewPlastMemberEmailGreetingTests.cs
  EPlast/EPlast.WebApi/StartupExtensions/AddRecurringJobManager.cs
Labels: Cities (станиці), Delegation (Поручення), Notifications(Сповіщення)

#1142 Annual reports
  EPlast/EPlast.BLL/Interfaces/AnnualReport/IAnnualReportService.cs
  EPlast/EPlast.BLL/Interfaces/City/ICItyAccessGetter.cs
  EPlast/EPlast.BLL/Interfaces/City/ICityAccessService.cs
  EPlast/EPlast.BLL/Interfaces/Club/IClubAccessGetter.cs
  EPlast/EPlast.BLL/Interfaces/Club/IClubAccessService.cs
  EPlast/EPlast.BLL/Interfaces/Club/IClubAnnualReportService.cs
  EPlast/EPlast.BLL/Interfaces/Region/IRegionAnnualReportService.cs
  EPlast/EPlast.BLL/Services/AnnualReport/AnnualReportService.cs
  EPlast/EPlast.BLL/Services/City/CityAccess/CityAccessGetters/CItyAccessForRegionAdminGetter.cs
  EPlast/EPlast.BLL/Services/City/CityAccess/CityAccessGetters/CityAccessForAdminGetter.cs
  EPlast/EPlast.BLL/Services/City/CityAccess/CityAccessGetters/CityAccessForCityAdminGetter.cs
  EPlast/EPlast.BLL/Services/City/CityAccess/CityAccessService.cs
  EPlast/EPlast.BLL/Services/Club/ClubAccess/ClubAccessGetters/ClubAccessForAdminGetter.cs
  EPlast/EPlast.BLL/Services/Club/ClubAccess/ClubAccessGetters/ClubAccessForClubAdminGetter.cs
  EPlast/EPlast.BLL/Services/Club/ClubAccess/ClubAccessService.cs
  EPlast/EPlast.BLL/Services/Club/ClubAnnualReportService.cs
  EPlast/EPlast.BLL/Services/Region/RegionAnnualReportService.cs
  EPlast/EPlast.DataAccess/EPlastDBContext.cs
  EPlast/EPlast.DataAccess/Entities/AnnualReport/AnnualReportTableObject.cs
  EPlast/EPlast.DataAccess/Entities/Club/ClubAnnualReportTableObject.cs
  EPlast/EPlast.DataAccess/Entities/Region/RegionAnnualReportTableObject.cs
  EPlast/EPlast.DataAccess/Repositories/Interfaces/AnnualReport/IAnnualReportsRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Interfaces/Club/IClubAnnualReportsRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Interfaces/Region/IRegionAnnualReportsRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/AnnualReport/AnnualReportsRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Club/ClubAnnualReportRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Region/RegionAnnualReportRepository.cs
  EPlast/EPlast.Tests/Controllers/AnnualReportControllerTests.cs
  EPlast/EPlast.Tests/Controllers/CityControllerTests.cs
  EPlast/EPlast.Tests/Controllers/ClubControllerTests.cs
  EPlast/EPlast.Tests/Controllers/RegionsControllerTests.cs
  EPlast/EPlast.Tests/Services/Club/ClubAccess/ClubAccessServiceTest.cs
  EPlast/EPlast.Tests/Services/Club/ClubAnnualReportServiceTests.cs
  EPlast/EPlast.Tests/Services/Regions/RegionAnnualReportServiceTest.cs
  EPlast/EPlast.WebApi/Controllers/AnnualReportController.cs
  EPlast/EPlast.WebApi/Controllers/CitiesController.cs
  EPlast/EPlast.WebApi/Controllers/ClubController.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
  EPlast/EPlast.XUnitTest/Services/AnnualReport/AnnualReportServiceTests.cs
  EPlast/EPlast.XUnitTest/Services/City/CityAccessServiceTests.cs
  EPlast/EPlast.XUnitTest/Services/UserArea/UserServiceTests.cs
Labels: AnnualReports

#1148 Annual reports sorting
  EPlast/EPlast.BLL/DTO/AnnualReport/CityDTO.cs
  EPlast/EPlast.BLL/Interfaces/AnnualReport/IAnnualReportService.cs
  EPlast/EPlast.BLL/Interfaces/Club/IClubAnnualReportService.cs
  EPlast/EPlast.BLL/Interfaces/Region/IRegionAnnualReportService.cs
  EPlast/EPlast.BLL/Services/AnnualReport/AnnualReportService.cs
  EPlast/EPlast.BLL/Services/Club/ClubAnnualReportService.cs
  EPlast/EPlast.BLL/Services/Region/RegionAnnualReportService.cs
  EPlast/EPlast.BLL/Settings/CityAccessSettings.cs
  EPlast/EPlast.BLL/Settings/ClubAccessSettings.cs
  EPlast/EPlast.DataAccess/Repositories/Interfaces/AnnualReport/IAnnualReportsRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Interfaces/Club/IClubAnnualReportsRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Interfaces/Region/IRegionAnnualReportsRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/AnnualReport/AnnualReportsRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Club/ClubAnnualReportRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Region/RegionAnnualReportRepository.cs
  EPlast/EPlast.Resources/AnnualReportControllerMessage.uk.resx
  EPlast/EPlast.Tests/Controllers/AnnualReportControllerTests.cs
  EPlast/EPlast.Tests/Controllers/RegionsControllerTests.cs
  EPlast/EPlast.Tests/Services/Club/ClubAnnualReportServiceTests.cs
  EPlast/EPlast.Tests/Services/Regions/RegionAnnualReportServiceTest.cs
  EPlast/EPlast.WebApi/Controllers/AnnualReportController.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
  EPlast/EPlast.XUnitTest/Services/AnnualReport/AnnualReportServiceTests.cs
  EPlast/EPlast.XUnitTest/Services/UserArea/UserServiceTests.cs
Labels: AnnualReports

#1151 Decisions updates
  EPlast/EPlast.BLL/Interfaces/Admin/IAdminService.cs
  EPlast/EPlast.BLL/Services/Admin/AdminService.cs
  EPlast/EPlast.BLL/Services/Auth/AuthService.cs
  EPlast/EPlast.Tests/Controllers/AdminControllerTests.cs
  EPlast/EPlast.Tests/Services/Admin/AdminServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/AdminController.cs
  EPlast/EPlast.WebApi/Mapping/Decision/DecisionProfile.cs
  EPlast/EPlast.WebApi/Models/Decision/DecisionViewModel.cs
Labels: Decisions (Рішення)
