Repository ita-social-projects/EPlast, pull requests merged in 2021-09, with the labels that each got.

#1713 Fixed path to the controller
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
Labels: Bug, Regions (округи)

#1743 Change naming from userPlastDegrees to userPlastDegree due to code co…
  EPlast/EPlast.BLL/Interfaces/ActiveMembership/IPlastDegreeService.cs
  EPlast/EPlast.BLL/Services/ActiveMembership/AccessLevelService.cs
  EPlast/EPlast.BLL/Services/ActiveMembership/PlastDegreeService.cs
  EPlast/EPlast.BLL/Services/Club/ClubAnnualReportService.cs
  EPlast/EPlast.BLL/Services/Club/ClubService.cs
  EPlast/EPlast.DataAccess/Repositories/Interfaces/Base/IRepositoryWrapper.cs
  EPlast/EPlast.DataAccess/Repositories/Interfaces/User/IUserPlastDegreeRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Base/RepositoryWrapper.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/User/UserPlastDegreeRepository.cs
  EPlast/EPlast.Tests/Controllers/ActiveMembershipControllerTests.cs
  EPlast/EPlast.Tests/Services/ActiveMembership/AccessLevelServiceTests.cs
  EPlast/EPlast.Tests/Services/ActiveMembership/PlastDegreeServiceTests.cs
  EPlast/EPlast.Tests/Services/Club/ClubAnnualReportServiceTests.cs
  EPlast/EPlast.Tests/Services/Club/ClubServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/ActiveMembershipController.cs
  eplast/EPlast.BLL/Interfaces/ActiveMembership/IPlastDegreeService.cs
Labels: Type: Maintenances, Degree

#1725 Added check for former member when login in
  EPlast/EPlast.Tests/Controllers/LoginControllerTests.cs
  EPlast/EPlast.WebApi/Controllers/LoginController.cs
Labels: Bug, Active Membership, Login

#1741 Fixed needed level for approving or removing region follower
  EPlast/EPlast.WebApi/Controllers/CitiesController.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
Labels: Bug, Cities (станиці), Рівні доступу (Access Levels), Region followers

#1768 Tests for Event Service
  EPlast/EPlast.BLL/Interfaces/Events/IEventTypeManager.cs
  EPlast/EPlast.BLL/Services/Events/ActionManager.cs
  EPlast/EPlast.BLL/Services/Events/EventTypeManager.cs
  EPlast/EPlast.Tests/Services/Events/EventCategoryManagerTests.cs
  EPlast/EPlast.Tests/Services/Events/EventTypeManagerTests.cs
  EPlast/EPlast.XUnitTest/Services/Events/ActionManagerTests.cs
  EPlast/EPlast.XUnitTest/Services/Events/EventTypeManagerTests.cs
Labels: Events (події)

#1784 Fixed bug when GBHeads could not add new user to GB, edit GB and manage GB sectors
  EPlast/EPlast.Resources/Roles.cs
  EPlast/EPlast.WebApi/AccessSecurityModel/GoverningBodyAccessSettings.json
  EPlast/EPlast.WebApi/Controllers/AdminController.cs
  EPlast/EPlast.WebApi/Controllers/GoverningBodiesController.cs
  EPlast/EPlast.WebApi/Controllers/GoverningBodySectorsController.cs
Labels: Governing Bodies(Керівні Органи), Governing Body's Sectors(Напрями), Рівні доступу (Access Levels)

#1793 Restricted for admins access to add lowrole users
  EPlast/EPlast.BLL/Services/GoverningBodies/GoverningBodyAdministrationService.cs
  EPlast/EPlast.Tests/Controllers/GoverningBodiesControllerTests.cs
  EPlast/EPlast.Tests/Services/GoverningBody/GoverningBodyAdministrationServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/GoverningBodiesController.cs
Labels: Governing Bodies(Керівні Органи)

#1802 Added check for adding gb and sector with the same name
  EPlast/EPlast.BLL/Services/GoverningBodies/GoverningBodiesService.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/Sector/SectorService.cs
  EPlast/EPlast.Tests/Controllers/GoverningBodiesControllerTests.cs
  EPlast/EPlast.Tests/Controllers/GoverningBodySectorsControllerTests.cs
  EPlast/EPlast.Tests/Services/GoverningBody/GoverningBodiesServiceTests.cs
  EPlast/EPlast.Tests/Services/GoverningBody/Sector/SectorServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/GoverningBodiesController.cs
  EPlast/EPlast.WebApi/Controllers/GoverningBodySectorsController.cs
Labels: Governing Bodies(Керівні Органи)

#1804 changed statuses' names for events
  EPlast/EPlast.BLL/Services/EventUser/EventUserManager.cs
  EPlast/EPlast.BLL/Services/Events/ActionManager.cs
  EPlast/EPlast.BLL/Services/Events/ParticipantManager.cs
Labels: Bug

#1818 Added announcement editing
  EPlast/EPlast.BLL/Interfaces/GoverningBodies/Announcement/IGoverningBodyAnnouncementService.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/Announcement/GoverningBodyAnnouncementService.cs
  EPlast/EPlast.Tests/Controllers/GoverningBodiesControllerTests.cs
  EPlast/EPlast.Tests/Services/GoverningBody/Announcement/GoverningBodyAnnouncementServiceTest.cs
  EPlast/EPlast.WebApi/Controllers/GoverningBodiesController.cs
Labels: Regional Board of the Plast, Governing Bodies(Керівні Органи), functional

#1827 Fixed announcements access
  EPlast/EPlast.WebApi/AccessSecurityModel/GoverningBodyAccessSettings.json
  EPlast/EPlast.WebApi/AccessSecurityModel/GoverningBodySectorAccessSettings.json
  EPlast/EPlast.WebApi/AccessSecurityModel/RegionsBoardAccessSettings.json
  EPlast/EPlast.WebApi/Controllers/GoverningBodiesController.cs
Labels: Рівні доступу (Access Levels), Advertisement (Оголошення)

#1836 Changed notification text #1786
  EPlast/EPlast.Resources/AuthenticationErrors.en.resx
  EPlast/EPlast.Resources/AuthenticationErrors.uk.resx
  EPlast/EPlast.Tests/Controllers/LoginControllerTests.cs
Labels: Type: Maintenances, Notifications(Сповіщення)

#1846 Fixed notifications' text #1737
  EPlast/EPlast.BLL/Services/EmailSending/EmailContentService.cs
Labels: Type: Maintenances

#1841 The system keeps previously got titles in region even after users joining to another city or region
  EPlast/EPlast.BLL/Services/City/CityParticipantsService.cs
  EPlast/EPlast.BLL/Services/Club/ClubParticipantsService.cs
  EPlast/EPlast.BLL/Services/Region/RegionAdministrationService.cs
  EPlast/EPlast.Tests/Services/City/CityParticipantsServiceTests.cs
  EPlast/EPlast.Tests/Services/UserProfiles/UserServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
  EPlast/EPlast.WebApi/Controllers/UserController.cs
Labels: Hovels (Курені), Cities (станиці), Regions (округи), .NET
