Repository ita-social-projects/EPlast, pull requests merged in 2021-06, with the labels that each got.

#1283 Region reports
  EPlast/EPlast.BLL/Interfaces/City/ICityAccessService.cs
  EPlast/EPlast.BLL/Interfaces/Region/IRegionAnnualReportService.cs
  EPlast/EPlast.BLL/Services/City/CityAccess/CityAccessService.cs
  EPlast/EPlast.BLL/Services/Region/RegionAnnualReportService.cs
  EPlast/EPlast.BLL/Settings/ClubAccessSettings.cs
  EPlast/EPlast.DataAccess/Entities/Region/RegionAnnualReportTableObject.cs
  EPlast/EPlast.DataAccess/Repositories/Interfaces/Region/IRegionAnnualReportsRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Region/RegionAnnualReportRepository.cs
  EPlast/EPlast.Tests/Controllers/RegionsControllerTests.cs
  EPlast/EPlast.Tests/Services/Regions/RegionAnnualReportServiceTest.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
Labels: AnnualReports, Statistics

#1293 Region reports
  EPlast/EPlast.BLL/DTO/Region/RegionAnnualReportDTO.cs
Labels: AnnualReports, Improvement

#1317 add_tests to regions controler cover 100%
  0
  EPlast/EPlast.Tests/Controllers/AnnualReportControllerTests.cs
  EPlast/EPlast.Tests/Controllers/EducatorsStaffControllerTests.cs
  EPlast/EPlast.Tests/Controllers/PasswordControllerTests.cs
  EPlast/EPlast.Tests/Controllers/RegionsControllerTests.cs
  EPlast/EPlast.WebApi/EPlast.WebApi.csproj
Labels: test case

#1323 Fixed bug with nullable
  EPlast/EPlast.WebApi/EPlast.WebApi.csproj
Labels: Type: Bug

#1333 Added to the controller the ability to take all users in the region a…
  EPlast/EPlast.BLL/DTO/Region/RegionUsersDTO.cs
  EPlast/EPlast.BLL/Interfaces/Region/IRegionService.cs
  EPlast/EPlast.BLL/Mapping/Region/RegionUser.cs
  EPlast/EPlast.BLL/Services/City/CityService.cs
  EPlast/EPlast.BLL/Services/Region/RegionService.cs
  EPlast/EPlast.Tests/Controllers/RegionsControllerTests.cs
  EPlast/EPlast.Tests/Services/City/CityServiceTests.cs
  EPlast/EPlast.Tests/Services/Regions/RegionServiceTest.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
Labels: Cities (станиці), Regions (округи)

#1336 Changes description of one methodic document type
  EPlast/EPlast.BLL/DTO/MethodicDocument/MethodicDocumentTypeDTO.cs
Labels: Type: Bug

#1325 Fixed bug with approval
  EPlast/EPlast.BLL/Services/PDF/Documents/BlankDocument.cs
  EPlast/EPlast.BLL/Services/PDF/Documents/DecisionDocument.cs
  EPlast/EPlast.BLL/Services/PDF/Documents/PdfDocument.cs
  EPlast/EPlast.BLL/Services/PDF/PDFCreator.cs
  EPlast/EPlast.BLL/Services/PDF/PDFService.cs
  EPlast/EPlast.BLL/Services/PDF/PDFSettings.cs
  EPlast/EPlast.Tests/Services/PDF/PDFServiceTests.cs
  EPlast/EPlast.WebApi/StartupExtensions/AddDependenciesExtension.cs
Labels: Type: Bug

#1339 Added unit tests to ActionManager, EventCategoryManager, UserPersonal…
  EPlast/EPlast.Tests/Services/Auth/AuthEmailServiceTests.cs
  EPlast/EPlast.Tests/Services/Auth/AuthServiceTests.cs
  EPlast/EPlast.Tests/Services/City/CityAccess/CityAccessGetters/CityAccessForAdminGetterTests.cs
  EPlast/EPlast.Tests/Services/City/CityAccess/CityAccessGetters/CityAccessForCityAdminGetterTests.cs
  EPlast/EPlast.Tests/Services/City/CityAccess/CityAccessGetters/CityAccessForRegionAdminGetterTests.cs
  EPlast/EPlast.Tests/Services/Events/ActionManagerTests.cs
  EPlast/EPlast.Tests/Services/Events/EventAdministrationManagerTests.cs
  EPlast/EPlast.Tests/Services/Events/EventCalendarServiceTests.cs
  EPlast/EPlast.Tests/Services/Events/EventCategoryManagerTests.cs
  EPlast/EPlast.Tests/Services/Events/EventsManagerTests.cs
  EPlast/EPlast.Tests/Services/UserProfiles/UserPersonalDataServiceTests.cs
Labels: test case

#1345 Added encoding to title of pdf document
  EPlast/EPlast.BLL/Services/PDF/Documents/PdfDocument.cs
  EPlast/EPlast.BLL/Services/PDF/PDFHelper.cs
  EPlast/EPlast.BLL/Services/PDF/PDFService.cs
Labels: Type: Bug

#1344 Unit tests for AuthService, JwtService
  EPlast/EPlast.BLL/Services/EducatorsStaff/EducatorsStaffService.cs
  EPlast/EPlast.Tests/EPlast.Tests.csproj
  EPlast/EPlast.Tests/Services/Auth/AuthServiceTests.cs
  EPlast/EPlast.Tests/Services/Jwt/JwtServiceTests.cs
  EPlast/EPlast.Tests/Services/Precautions/PrecautionServiceTests.cs
Labels: Auth, Jwt, test case

#1366 Impoved document section
  EPlast/EPlast.BLL/DTO/City/CityDTO.cs
  EPlast/EPlast.BLL/DTO/Region/RegionProfileDTO.cs
  EPlast/EPlast.BLL/Services/City/CityService.cs
  EPlast/EPlast.BLL/Services/Region/RegionService.cs
  EPlast/EPlast.Tests/Services/Regions/RegionServiceTest.cs
  EPlast/EPlast.WebApi/Mapping/City/CityProfile.cs
  EPlast/EPlast.WebApi/Models/City/CityViewModel.cs
  EPlast/EPlast.WebApi/Properties/launchSettings.json
Labels: Cities (станиці), Regions (округи), documentation
