Repository ita-social-projects/EPlast, pull requests merged in 2021-11, with the labels that each got.

#2002 Add multiple roles search in UT
  EPlast/EPlast.BLL/DTO/Admin/TableFilterParameters.cs
  EPlast/EPlast.BLL/Services/Admin/AdminService.cs
Labels: Bug, Users Table (Таблиця користувачів)

#2006 remove takes from GetCityProfyleAsync
  EPlast/EPlast.BLL/Services/City/CityService.cs
Labels: Cities (станиці)

#2007 add takes from GetCityProfyleAsync
  EPlast/EPlast.BLL/Services/City/CityService.cs
Labels: Cities (станиці)

#2009 Add check for adding a file with correct name
  EPlast/EPlast.BLL/Services/Region/RegionService.cs
  EPlast/EPlast.Tests/Services/Regions/RegionServiceTest.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
Labels: Bug, Regional Board of the Plast

#2017 Added blob storage for regions logo
  EPlast/EPlast.BLL/Services/Region/RegionService.cs
  EPlast/EPlast.Tests/Services/Regions/RegionServiceTest.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
Labels: Regions (округи)

#2004 fix for PDF
  EPlast/EPlast.BLL/Services/PDF/Documents/AnnualReportPdf.cs
  EPlast/EPlast.Tests/Services/PDF/PDFServiceTests.cs
Labels: Bug, AnnualReports, pdf

#2016 add user acces for cities
  EPlast/EPlast.BLL/Interfaces/UserAccess/IUserAccessService.cs
  EPlast/EPlast.BLL/Services/UserAccess/UserAccessService.cs
  EPlast/EPlast.Tests/Controllers/UserAccessControllerTests.cs
  EPlast/EPlast.Tests/Services/UserAcccess/UserAccessServiceTests.cs
  EPlast/EPlast.WebApi/AccessSecurityModel/CityAccessSettings.json
  EPlast/EPlast.WebApi/Controllers/UserAccessController.cs
Labels: Cities (станиці), Рівні доступу (Access Levels)

#2032 Add check plast member
  EPlast/EPlast.BLL/Interfaces/City/ICityService.cs
  EPlast/EPlast.BLL/Services/City/CityService.cs
  EPlast/EPlast.Tests/Controllers/CityControllerTests.cs
  EPlast/EPlast.Tests/Services/City/CityServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/CitiesController.cs
Labels: Cities (станиці)

#2026 Redis cache for regions
  EPlast/EPlast.BLL/Interfaces/Cache/ICacheService.cs
  EPlast/EPlast.BLL/Services/Redis/RedisCacheService.cs
  EPlast/EPlast.Tests/Controllers/RegionsControllerTests.cs
  EPlast/EPlast.Tests/Services/Redis/RedisCacheServiceTest.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
  EPlast/EPlast.WebApi/StartupExtensions/AddDependenciesExtension.cs
  EPlast/EPlast.WebApi/StartupExtensions/AddRedisOptionsExternshion.cs
  EPlast/EPlast.WebApi/StartupExtensions/AddServicesExtension.cs
Labels: Regions (округи)

#2025 Only date of oath can be changed now (Fix #1843)
  EPlast/EPlast.BLL/DTO/ActiveMembership/UserMembershipDatesDTO.cs
  EPlast/EPlast.BLL/DTO/ActiveMembership/UserOathDateDTO.cs
  EPlast/EPlast.BLL/Interfaces/ActiveMembership/IUserDatesService.cs
  EPlast/EPlast.BLL/Services/ActiveMembership/UserDatesService.cs
  EPlast/EPlast.BLL/Services/Admin/AdminService.cs
  EPlast/EPlast.Tests/Controllers/ActiveMembershipControllerTests.cs
  EPlast/EPlast.Tests/Services/ActiveMembership/UserDatesServiceTests.cs
  EPlast/EPlast.Tests/Services/Admin/AdminServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/ActiveMembershipController.cs
Labels: Bug, Active Membership

#2046 add 1 check
  EPlast/EPlast.BLL/Services/City/CityService.cs
  EPlast/EPlast.BLL/Services/Club/ClubService.cs
Labels: Cities (станиці)

#2048 Fixed [Decision] incorrect record present in 'Статус рішення' dropdow…
  EPlast/EPlast.BLL/DTO/Decision/DecisionStatusTypeDTO.cs
  EPlast/EPlast.DataAccess/Entities/Decision/DecesionStatus.cs
Labels: Type: Maintenances, Decisions (Рішення)

#2049 added json accesses for annual reports
  EPlast/EPlast.BLL/Interfaces/AnnualReport/IAnnualReportAccessService.cs
  EPlast/EPlast.BLL/Interfaces/UserAccess/IUserAccessService.cs
  EPlast/EPlast.BLL/Services/AnnualReport/AnnualReportAccessService.cs
  EPlast/EPlast.BLL/Services/UserAccess/UserAccessService.cs
  EPlast/EPlast.Tests/Controllers/UserAccessControllerTests.cs
  EPlast/EPlast.Tests/Services/AnnualReport/AnnualReportAccessServiceTests.cs
  EPlast/EPlast.Tests/Services/UserAcccess/UserAccessServiceTests.cs
  EPlast/EPlast.WebApi/AccessSecurityModel/AnnualReportAccessSettings.json
  EPlast/EPlast.WebApi/Controllers/UserAccessController.cs
  EPlast/EPlast.WebApi/StartupExtensions/AddDependenciesExtension.cs
Labels: AnnualReports, Рівні доступу (Access Levels)

#2041 Restrictions for archivation
  EPlast/EPlast.BLL/DTO/ActiveMembership/AccessLevelTypeDTO.cs
  EPlast/EPlast.BLL/Services/ActiveMembership/AccessLevelService.cs
  EPlast/EPlast.BLL/Services/City/CityService.cs
  EPlast/EPlast.BLL/Services/Club/ClubService.cs
  EPlast/EPlast.BLL/Services/Region/RegionService.cs
  EPlast/EPlast.Resources/Roles.cs
  EPlast/EPlast.Tests/Services/City/CityServiceTests.cs
  EPlast/EPlast.Tests/Services/Club/ClubServiceTests.cs
  EPlast/EPlast.Tests/Services/Regions/RegionServiceTest.cs
Labels: Hovels (Курені), Cities (станиці), Regions (округи), Рівні доступу (Access Levels)

#2051 Added authorization restrictions for archivating and deleting
  EPlast/EPlast.WebApi/Controllers/CitiesController.cs
  EPlast/EPlast.WebApi/Controllers/ClubController.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
Labels: Hovels (Курені), Cities (станиці), Regions (округи), Рівні доступу (Access Levels)

#2033 Improve user access for distinctions
  EPlast/EPlast.BLL/Interfaces/UserAccess/IUserAccessService.cs
  EPlast/EPlast.BLL/Services/UserAccess/UserAccessService.cs
  EPlast/EPlast.Tests/Controllers/UserAccessControllerTests.cs
  EPlast/EPlast.Tests/Services/UserAcccess/UserAccessServiceTests.cs
  EPlast/EPlast.WebApi/AccessSecurityModel/DistinctionsAccessSettings.json
  EPlast/EPlast.WebApi/Controllers/UserAccessController.cs
Labels: Рівні доступу (Access Levels)

#2055 added json accesses for Statistics
  EPlast/EPlast.BLL/Interfaces/UserAccess/IUserAccessService.cs
  EPlast/EPlast.BLL/Services/UserAccess/UserAccessService.cs
  EPlast/EPlast.Tests/Controllers/UserAccessControllerTests.cs
  EPlast/EPlast.Tests/Services/UserAcccess/UserAccessServiceTests.cs
  EPlast/EPlast.WebApi/AccessSecurityModel/StatisticsReportAccessSettings.json
  EPlast/EPlast.WebApi/Controllers/UserAccessController.cs
Labels: Statistics, Рівні доступу (Access Levels)

#2060 When a user became plast member, his role of supporter should be removed (Fixes #2037)
  EPlast/EPlast.BLL/Services/EmailSending/NewPlastMemberEmailGreetingService.cs
Labels: Bug, Profile, Timer

#2063 Improve AboutBaseController
  EPlast/EPlast.WebApi/Controllers/AboutBaseController.cs
Labels: FAQ(Про базу)

#2064 Add getter by exact roles
  EPlast/EPlast.BLL/Interfaces/Admin/IAdminService.cs
  EPlast/EPlast.BLL/Services/Admin/AdminService.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/GoverningBodyAdministrationService.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/Sector/SectorAdministrationService.cs
  EPlast/EPlast.Tests/Controllers/AdminControllerTests.cs
  EPlast/EPlast.Tests/Services/Admin/AdminServiceTests.cs
  EPlast/EPlast.Tests/Services/GoverningBody/GoverningBodyAdministrationServiceTests.cs
  EPlast/EPlast.Tests/Services/GoverningBody/Sector/SectorAdministrationServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/AdminController.cs
Labels: Improvement

#2079 Fix bug that a registered user could add documents into legistation
  EPlast/EPlast.WebApi/Controllers/MethodicDocumentsController.cs
Labels: Bug, Repository

#2075 Fix roles for event admin
  EPlast/EPlast.BLL/Services/EventUser/EventUserManager.cs
  EPlast/EPlast.Resources/AllowedRolesToBeAdminOfEvent.cs
  EPlast/EPlast.Resources/FunctionalityWithSpecificAccessForEvents.cs
  EPlast/EPlast.Tests/Services/Event/EventUserManagerTests.cs
  EPlast/EPlast.XUnitTest/Services/Events/EventUserManagerTests.cs
Labels: Events (події), Рівні доступу (Access Levels)

#2069 Fixed accesses for annual reports
  EPlast/EPlast.BLL/Interfaces/AnnualReport/IAnnualReportAccessService.cs
  EPlast/EPlast.BLL/Interfaces/UserAccess/IUserAccessService.cs
  EPlast/EPlast.BLL/Services/AnnualReport/AnnualReportAccessService.cs
  EPlast/EPlast.BLL/Services/UserAccess/UserAccessService.cs
  EPlast/EPlast.Resources/AnnualReportType.cs
  EPlast/EPlast.Tests/Controllers/UserAccessControllerTests.cs
  EPlast/EPlast.Tests/Services/AnnualReport/AnnualReportAccessServiceTests.cs
  EPlast/EPlast.Tests/Services/UserAcccess/UserAccessServiceTests.cs
  EPlast/EPlast.WebApi/AccessSecurityModel/AnnualReportAccessSettings.json
  EPlast/EPlast.WebApi/Controllers/UserAccessController.cs
Labels: AnnualReports, Рівні доступу (Access Levels)

#2103 fixed wrong name
  EPlast/EPlast.WebApi/AccessSecurityModel/StatisticsAccessSettings.json
Labels: Bug

#2102 fix event editing and changing status bug #2081
  EPlast/EPlast.BLL/Services/EventUser/EventUserManager.cs
  EPlast/EPlast.Resources/AllowedRolesToBeAdminOfEvent.cs
  EPlast/EPlast.Tests/Controllers/EventsControllerTests.cs
  EPlast/EPlast.WebApi/Controllers/EventsController.cs
Labels: Events (події)
