Repository ita-social-projects/EPlast, pull requests merged in 2021-08, with the labels that each got.

#1525 Fix adding admin with past date
  EPlast/EPlast.BLL/Services/City/CityParticipantsService.cs
  EPlast/EPlast.BLL/Services/City/CityService.cs
  EPlast/EPlast.Tests/Controllers/CityControllerTests.cs
  EPlast/EPlast.Tests/Services/City/CityParticipantsServiceTests.cs
  EPlast/EPlast.Tests/Services/City/CityServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/CitiesController.cs
Labels: Cities (станиці), Type: Maintenances

#1517 Fixed adding role "formerUser"
  EPlast/EPlast.BLL/DTO/ActiveMembership/AccessLevelTypeDTO.cs
  EPlast/EPlast.BLL/Services/ActiveMembership/AccessLevelService.cs
Labels: Users Table (Таблиця користувачів), Рівні доступу (Access Levels)

#1541 Fix accesses for Region Head on Governing Bodies
  EPlast/EPlast.WebApi/AccessSecurityModel/GoverningBodyAccessSettings.json
  EPlast/EPlast.WebApi/AccessSecurityModel/GoverningBodySectorAccessSettings.json
Labels: Governing Bodies(Керівні Органи), Governing Body's Sectors(Напрями), Type: Bug, Рівні доступу (Access Levels)

#1549 Fix adding admin with past date
  EPlast/EPlast.BLL/Interfaces/Club/IClubParticipantsService.cs
  EPlast/EPlast.BLL/Services/Club/ClubParticipantsService.cs
  EPlast/EPlast.Tests/Controllers/ClubControllerTests.cs
  EPlast/EPlast.Tests/Services/Club/ClubParticipantsServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/CitiesController.cs
  EPlast/EPlast.WebApi/Controllers/ClubController.cs
Labels: Clubs, Hovels (Курені), Type: Maintenances

#1551 [Email notification] edit some general content trying to save the mai…
  EPlast/EPlast.BLL/Services/ActiveMembership/AccessLevelService.cs
  EPlast/EPlast.BLL/Services/EmailSending/EmailContentService.cs
  EPlast/EPlast.Tests/Services/ActiveMembership/AccessLevelServiceTests.cs
Labels: Notifications(Сповіщення), Type: Maintenances

#1572 Fixed [Blank] There is no indent near some fields in "Заява для вступ…у" #1515
  EPlast/EPlast.BLL/Services/PDF/Documents/BlankDocument.cs
Labels: Blank, Type: Maintenances

#1590 Fixed access to regions for all users
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
Labels: Regions (округи), Рівні доступу (Access Levels)

#1629 Fix club admins with past date display
  EPlast/EPlast.BLL/Services/Club/ClubService.cs
Labels: Type: Bug, Hovels (Курені), Clubs

#1646 Fixed user being head and headdeputy after editing role
  EPlast/EPlast.BLL/Interfaces/Region/IRegionAdministrationService.cs
  EPlast/EPlast.BLL/Services/City/CityParticipantsService.cs
  EPlast/EPlast.BLL/Services/Club/ClubParticipantsService.cs
  EPlast/EPlast.BLL/Services/Region/RegionAdministrationService.cs
  EPlast/EPlast.Tests/Controllers/RegionsControllerTests.cs
  EPlast/EPlast.Tests/Services/City/CityParticipantsServiceTests.cs
  EPlast/EPlast.Tests/Services/Club/ClubParticipantsServiceTests.cs
  EPlast/EPlast.Tests/Services/Regions/RegionAdministrationServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
Labels: Bug, Hovels (Курені), Cities (станиці), Regions (округи)

#1651 fixed-bug on Personal profile
  EPlast/EPlast.WebApi/Mapping/User/UserInfoProfile.cs
  EPlast/EPlast.WebApi/Mapping/User/UserProfile.cs
  EPlast/EPlast.WebApi/Mapping/User/UserShortProfile.cs
  EPlast/EPlast.WebApi/Models/UserModels/UserViewModel.cs
Labels: Profile

#1676 Changed access levels service
  EPlast/EPlast.BLL/DTO/ActiveMembership/AccessLevelTypeDTO.cs
  EPlast/EPlast.BLL/Services/ActiveMembership/AccessLevelService.cs
  EPlast/EPlast.Resources/Degree.cs
  EPlast/EPlast.Resources/Roles.cs
  EPlast/EPlast.Tests/Services/ActiveMembership/AccessLevelServiceTests.cs
Labels: Рівні доступу (Access Levels)

#1693 Created check for region name exists functionality
  EPlast/EPlast.BLL/Interfaces/Region/IRegionService.cs
  EPlast/EPlast.BLL/Services/Region/RegionService.cs
  EPlast/EPlast.Tests/Controllers/RegionsControllerTests.cs
  EPlast/EPlast.Tests/Services/Regions/RegionServiceTest.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
Labels: Bug, Regions (округи)

#1697 Fixed [Regional Board of the Plast ] The Deputy of Village Admin or Country Admin does not have access to decision #1690
  EPlast/EPlast.WebApi/AccessSecurityModel/RegionsBoardAccessSettings.json
Labels: Type: Bug, Regional Board of the Plast
