Repository ita-social-projects/EPlast, pull requests merged in 2022-06, with the labels that each got.

#2522 Fix issue 2479
  EPlast/EPlast.BLL/DTO/GoverningBody/Announcement/GoverningBodyAnnouncementDTO.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/GoverningBodiesService.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/Sector/SectorService.cs
  EPlast/EPlast.WebApi/Controllers/GoverningBodySectorsController.cs
  EPlast/EPlast.WebApi/Models/GoverningBody/GoverningBodyAnnouncementsViewModel.cs
  EPlast/EPlast.WebApi/Models/GoverningBody/Sector/SectorAnnouncementsViewModel.cs
Labels: Governing Bodies(Керівні Органи), Governing Body's Sectors(Напрями)

#2528 Event ends more often and user receives notification properly #2121 and #2411
  EPlast/EPlast.BLL/Services/Events/ActionManager.cs
  EPlast/EPlast.Tests/Services/Events/ActionManagerTests.cs
  EPlast/EPlast.WebApi/StartupExtensions/AddRecurringJobManager.cs
  EPlast/EPlast.XUnitTest/Services/Events/ActionManagerTests.cs
Labels: Bug, Events (події)

#2521 Precautions user access fix
  EPlast/EPlast.BLL/DTO/PrecautionsDTO/PrecautionUserDTO.cs
  EPlast/EPlast.BLL/DTO/PrecautionsDTO/SuggestedUserDto.cs
  EPlast/EPlast.BLL/DTO/PrecautionsDTO/UserPrecautionsTableInfo.cs
  EPlast/EPlast.BLL/DTO/UserProfiles/UserPrecautionDTO.cs
  EPlast/EPlast.BLL/Interfaces/Precautions/IUserPrecautionService.cs
  EPlast/EPlast.BLL/Interfaces/UserAccess/IUserAccessService.cs
  EPlast/EPlast.BLL/Mapping/Precautions/AvailableUserProfile.cs
  EPlast/EPlast.BLL/Mapping/Precautions/PrecautionUserProfile.cs
  EPlast/EPlast.BLL/Mapping/Precautions/SuggestedUserProfile.cs
  EPlast/EPlast.BLL/Services/Precautions/UserPrecautionService.cs
  EPlast/EPlast.BLL/Services/UserAccess/UserAccessService.cs
  EPlast/EPlast.DataAccess/Entities/UserEntities/UserPrecautionsTableObject.cs
  EPlast/EPlast.Tests/Controllers/PrecautionControllerTests.cs
  EPlast/EPlast.Tests/Services/Precautions/UserPrecautionServiceTests.cs
  EPlast/EPlast.WebApi/AccessSecurityModel/PrecautionsAccessSettings.json
  EPlast/EPlast.WebApi/Controllers/PrecautionController.cs
  EPlast/EPlast.WebApi/Controllers/UserAccessController.cs
Labels: Bug, Precaution (Перестороги), Рівні доступу (Access Levels)

#2383 Updated request on city page to select only necessary fields
  EPlast/EPlast.BLL/DTO/City/CityAdministrationViewModelDTO.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/GetCityAdminsHandler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/GetCityAdminsIdsHandler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/GetCityByIdHandler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/GetCityByIdWthFullInfoHandler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/GetCityProfileBasicHandler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/Helpers/CityHelpers.cs
  EPlast/EPlast.BLL/Queries/City/GetCityAdminsQuery.cs
  EPlast/EPlast.BLL/Services/EmailSending/NewPlastMemberEmailGreetingService.cs
  EPlast/EPlast.DataAccess/Repositories/Interfaces/Base/IRepositoryBase.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Base/RepositoryBase.cs
  EPlast/EPlast.Tests/Controllers/CityControllerTests.cs
  EPlast/EPlast.Tests/Handlers/City/GetCityAdminsHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/City/Helpers/CityHelpersTest.cs
  EPlast/EPlast.Tests/Services/EmailSending/NewPlastMemberEmailGreetingTests.cs
  EPlast/EPlast.WebApi/Controllers/CitiesController.cs
Labels: Cities (станиці)

#2553 Updated announcements sort
  EPlast/EPlast.BLL/DTO/GoverningBody/Announcement/GoverningBodyAnnouncementDTO.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/GoverningBodiesService.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/Sector/SectorService.cs
  EPlast/EPlast.WebApi/Mapping/GoverningBody/Sector/SectorAnnouncementsProfile.cs
  EPlast/EPlast.WebApi/Mapping/GoverningBody/Sector/SectorProfile.cs
  EPlast/EPlast.WebApi/Models/GoverningBody/GoverningBodyAnnouncementsViewModel.cs
  EPlast/EPlast.WebApi/Models/GoverningBody/Sector/SectorAnnouncementsViewModel.cs
  EPlast/EPlast.WebApi/Models/GoverningBody/Sector/SectorViewModel.cs
Labels: Governing Bodies(Керівні Органи), Governing Body's Sectors(Напрями)

#2430 Fix compiler warnings (except for obsolete cityservice)
  EPlast/EPlast.BLL/Handlers/DecisionHandlers/GetDecisionsForTableHandler.cs
  EPlast/EPlast.BLL/Services/City/CityParticipantsService.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/GoverningBodiesService.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/Sector/SectorService.cs
  EPlast/EPlast.BLL/Services/Region/RegionAnnualReportService.cs
  EPlast/EPlast.DataAccess/EPlastDBContext.cs
  EPlast/EPlast.DataAccess/Entities/Region/RegionMembersInfoTableObject.cs
  EPlast/EPlast.DataAccess/Repositories/Interfaces/Decision/IDecesion.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Admin/AdminTypeRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/AnnualReport/AnnualReportsRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/City/CityRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Club/ClubAnnualReportRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Decision/DecesionRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Region/RegionAnnualReportRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Region/RegionRepository.cs
  EPlast/EPlast.Tests/Controllers/DecisionsControllerTests.cs
  EPlast/EPlast.Tests/Handlers/Decision/GetDecisionsForTableHandlerTest.cs
  EPlast/EPlast.WebApi/EPlast.WebApi.csproj
Labels: Improvement, .NET

#2482 Fix obsolete warnings
  EPlast/EPlast.BLL/Services/City/CityParticipantsService.cs
  EPlast/EPlast.Tests/Controllers/AdminControllerTests.cs
  EPlast/EPlast.Tests/Services/City/CityParticipantsServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/AdminController.cs
Labels: Improvement, .NET

#2558 Fix trouble with member deleting
  EPlast/EPlast.BLL/Handlers/CityHandlers/GetCityByIdWthFullInfoHandler.cs
Labels: Bug, Cities (станиці)

#2566 Remove Home service
  EPlast/EPlast.BLL/DTO/UserAuthentication/ContactsDto.cs
  EPlast/EPlast.BLL/DTO/UserAuthentication/FeedbackDto.cs
  EPlast/EPlast.BLL/Interfaces/Home/IHomeService.cs
  EPlast/EPlast.BLL/Services/HomeService/HomeService.cs
  EPlast/EPlast.Tests/Controllers/AuthControllerTests.cs
  EPlast/EPlast.WebApi/Controllers/AuthController.cs
  EPlast/EPlast.WebApi/StartupExtensions/AddDependenciesExtension.cs
  EPlast/EPlast.XUnitTest/Services/Home/HomeServiceTests.cs
Labels: .NET

#2565 Remove DateTimeHelper service
  EPlast/EPlast.BLL/Interfaces/Auth/IDateTimeHelper.cs
  EPlast/EPlast.BLL/Services/Auth/AuthService.cs
  EPlast/EPlast.BLL/Services/Auth/DateTimeHelper.cs
  EPlast/EPlast.Tests/Services/Auth/AuthServiceTests.cs
  EPlast/EPlast.Tests/Services/GoverningBody/GoverningBodyAdministrationServiceTests.cs
  EPlast/EPlast.WebApi/StartupExtensions/AddDependenciesExtension.cs
  EPlast/EPlast.XUnitTest/Services/Authentication/AccountServiceTests.cs
Labels: .NET

#2564 Remove guid generator service
  EPlast/EPlast.BLL/Handlers/CityHandlers/UploadCityPhotoHandler.cs
  EPlast/EPlast.BLL/Handlers/DecisionHandlers/SaveDecisionAsyncHandler.cs
  EPlast/EPlast.BLL/Interfaces/UniqueId/IUniqueIdService.cs
  EPlast/EPlast.BLL/Services/AboutBase/AboutBasePicturesManager.cs
  EPlast/EPlast.BLL/Services/City/CityDocumentsService.cs
  EPlast/EPlast.BLL/Services/City/CityService.cs
  EPlast/EPlast.BLL/Services/Club/ClubDocumentsService.cs
  EPlast/EPlast.BLL/Services/Club/ClubService.cs
  EPlast/EPlast.BLL/Services/Events/EventGalleryManager.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/Announcement/GoverningBodyBlobStorageService.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/GoverningBodiesService.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/GoverningBodyDocumentsService.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/Sector/SectorDocumentsService.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/Sector/SectorService.cs
  EPlast/EPlast.BLL/Services/Jwt/JwtService.cs
  EPlast/EPlast.BLL/Services/Jwt/Jwtservice.cs
  EPlast/EPlast.BLL/Services/MethodicDocument/MethodicDocumentService.cs
  EPlast/EPlast.BLL/Services/Notifications/NotificationConnectionManager.cs
  EPlast/EPlast.BLL/Services/Region/RegionService.cs
  EPlast/EPlast.BLL/Services/UniqueId/UniqueIdService.cs
  EPlast/EPlast.BLL/Services/UserProfiles/UserService.cs
  EPlast/EPlast.Tests/Handlers/City/UploadCityPhotoHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/Decision/SaveDecisionAsyncHandlerTest.cs
  EPlast/EPlast.Tests/Services/ActiveMembership/AccessLevelServiceTests.cs
  EPlast/EPlast.Tests/Services/ActiveMembership/PlastDegreeServiceTests.cs
  EPlast/EPlast.Tests/Services/City/CityDocumentsServiceTest.cs
  EPlast/EPlast.Tests/Services/City/CityServiceTests.cs
  EPlast/EPlast.Tests/Services/Club/ClubDocumentsServiceTest.cs
  EPlast/EPlast.Tests/Services/Club/ClubServiceTests.cs
  EPlast/EPlast.Tests/Services/DistinctionServiceTest/UserDistinctionServiceTests.cs
  EPlast/EPlast.Tests/Services/GoverningBody/Announcement/GoverningBodyBlobStorageServiceTests.cs
  EPlast/EPlast.Tests/Services/GoverningBody/GoverningBodiesServiceTests.cs
  EPlast/EPlast.Tests/Services/GoverningBody/GoverningBodyDocumentsServiceTests.cs
  EPlast/EPlast.Tests/Services/GoverningBody/Sector/SectorDocumentsServiceTests.cs
  EPlast/EPlast.Tests/Services/GoverningBody/Sector/SectorServiceTests.cs
  EPlast/EPlast.Tests/Services/Jwt/JwtServiceTests.cs
  EPlast/EPlast.Tests/Services/MethodicDocumentServiceTests.cs
  EPlast/EPlast.Tests/Services/Notifications/NotificationConnectionManagerTests.cs
  EPlast/EPlast.Tests/Services/Precautions/UserPrecautionServiceTests.cs
  EPlast/EPlast.Tests/Services/Regions/RegionServiceTest.cs
  EPlast/EPlast.Tests/Services/UserProfiles/UserServiceTests.cs
  EPlast/EPlast.WebApi/StartupExtensions/AddDependenciesExtension.cs
  EPlast/EPlast.XUnitTest/Handlers/Decision/SaveDecisionAsyncHandlerTest.cs
  EPlast/EPlast.XUnitTest/Services/AboutBase/AboutBasePicturesManagerTests.cs
  EPlast/EPlast.XUnitTest/Services/City/CityServiceTests.cs
  EPlast/EPlast.XUnitTest/Services/Club/ClubServiceTests.cs
  EPlast/EPlast.XUnitTest/Services/Events/EventGalleryManagerTests.cs
  EPlast/EPlast.XUnitTest/Services/UserArea/UserServiceTests.cs
Labels: .NET

#2572 Fix field validation for Cities and Regions on backend 1538
  EPlast/EPlast.BLL/DTO/Region/RegionDTO.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
  EPlast/EPlast.WebApi/Models/City/CityViewModel.cs
  EPlast/EPlast.WebApi/Models/Club/ClubViewModel.cs
Labels: Cities (станиці), Regions (Округи)

#2577 Workaround of email confirmation for registration
  EPlast/EPlast.BLL/Services/Auth/AuthEmailService.cs
Labels: .NET, Email Service

#2583 Stored procedures removal
  EPlast/EPlast.BLL/Interfaces/EducatorsStaff/IEducatorsStaffService.cs
  EPlast/EPlast.BLL/Services/EducatorsStaff/EducatorsStaffService.cs
  EPlast/EPlast.DataAccess/Repositories/Interfaces/EducatorsStaff/IEducatorsStaffRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Interfaces/User/IUserDistinctionRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Interfaces/User/IUserPrecautionRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Decision/DecesionRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/EducatorsStaff/EducatorsStaffRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/MethodicDocument/MethodicDocumentRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/User/UserDistinctionRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/User/UserPrecautionRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/User/UserRenewalRepository.cs
  EPlast/EPlast.Tests/Services/EducatorStaff/EducatorsStaffServiceTests.cs
Labels: Data security

#2576 Hide "Крайовий Провід Пласту" from Regions
  EPlast/EPlast.BLL/Handlers/RegionHandlers/GetAllRegionsByPageAndIsArchiveHandler.cs
Labels: Regions (Округи), Governing Bodies(Керівні Органи)

#2584 Remove stored db procedures
  EPlast/EPlast.DataAccess/Repositories/Interfaces/User/IUserRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/AnnualReport/AnnualReportsRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/City/CityRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Club/ClubAnnualReportRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Region/RegionAnnualReportRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Region/RegionRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/User/UserRepository.cs
Labels: .NET, Data security

#2589 Added tab sorting at UserTable
  EPlast/EPlast.DataAccess/Entities/UserEntities/UserTableObject.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Admin/AdminTypeRepository.cs
Labels: Users Table (Таблиця користувачів)

#2590 Fix issue #2012
  EPlast/EPlast.BLL/Services/Region/RegionAdministrationService.cs
Labels: Users Table (Таблиця користувачів), Regions (Округи)

#2593 Fixup 3 for PR #2578
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
Labels: Registration / Login, .NET

#2595 Fixup 5 for #2578
  EPlast/EPlast.BLL/DTO/UserAuthentication/RegisterDto.cs
  EPlast/EPlast.BLL/Mapping/User/Registration_User.cs
  EPlast/EPlast.Tests/Controllers/AuthControllerTests.cs
  EPlast/EPlast.WebApi/Controllers/AuthController.cs
  EPlast/EPlast.WebApi/Controllers/CitiesController.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
Labels: Registration / Login, .NET, Email Service, BLOCKING

#2607 Notification for admin after 7 days
  EPlast/EPlast.BLL/Interfaces/City/ICityParticipantsService.cs
  EPlast/EPlast.BLL/Interfaces/UserProfiles/IUserService.cs
  EPlast/EPlast.BLL/Services/City/CityParticipantsService.cs
  EPlast/EPlast.BLL/Services/UserProfiles/UserService.cs
  EPlast/EPlast.DataAccess/Entities/UserEntities/UserTableObject.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Admin/AdminTypeRepository.cs
  EPlast/EPlast.Tests/Controllers/AuthControllerTests.cs
  EPlast/EPlast.Tests/Services/UserProfiles/UserServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/AuthController.cs
  EPlast/EPlast.WebApi/StartupExtensions/AddRecurringJobManager.cs
  EPlast/EPlast.XUnitTest/Services/UserArea/UserServiceTests.cs
Labels: Notifications(Сповіщення), Users Table (Таблиця користувачів)
