Repository ita-social-projects/EPlast, pull requests merged in 2022-01, with the labels that each got.

#2235 Admins can approve only members of their city/region/hovel now(Fixed bug #2193)
  EPlast/EPlast.BLL/Services/UserProfiles/UserProfileAccessService.cs
  EPlast/EPlast.Tests/Services/UserProfiles/UserProfileAccessServiceTests.cs
Labels: Bug, Profile

#2243 Announcement is now added to announcements without refreshing the page
  EPlast/EPlast.BLL/Interfaces/GoverningBodies/Announcement/IGoverningBodyAnnouncementService.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/Announcement/GoverningBodyAnnouncementService.cs
  EPlast/EPlast.Tests/Controllers/GoverningBodiesControllerTests.cs
  EPlast/EPlast.Tests/Services/GoverningBody/Announcement/GoverningBodyAnnouncementServiceTest.cs
  EPlast/EPlast.WebApi/Controllers/GoverningBodiesController.cs
Labels: Governing Bodies(Керівні Органи)

#2187 Mediator for club
  EPlast/EPlast.BLL/Commands/Club/ArchiveCommand.cs
  EPlast/EPlast.BLL/Commands/Club/UnArchiveCommand.cs
  EPlast/EPlast.BLL/EPlast.BLL.csproj
  EPlast/EPlast.BLL/Handlers/ClubHandlers/ArchiveHandler.cs
  EPlast/EPlast.BLL/Handlers/ClubHandlers/GetAllClubsByPageAndIsArchiveHandler.cs
  EPlast/EPlast.BLL/Handlers/ClubHandlers/GetByIdHander.cs
  EPlast/EPlast.BLL/Handlers/ClubHandlers/GetClubAdministrationsHandler.cs
  EPlast/EPlast.BLL/Handlers/ClubHandlers/GetClubDataForReportHandler.cs
  EPlast/EPlast.BLL/Handlers/ClubHandlers/GetClubHistoryFollowersHandler.cs
  EPlast/EPlast.BLL/Handlers/ClubHandlers/GetClubHistoryMembersHandler.cs
  EPlast/EPlast.BLL/Handlers/ClubHandlers/GetCountDeletedUsersPerYearHandler.cs
  EPlast/EPlast.BLL/Handlers/ClubHandlers/GetCountUsersPerYearHandler.cs
  EPlast/EPlast.BLL/Handlers/ClubHandlers/UnArchiveHandler.cs
  EPlast/EPlast.BLL/Interfaces/Club/IClubService.cs
  EPlast/EPlast.BLL/MediatrEntryPoint.cs
  EPlast/EPlast.BLL/Queries/Club/GetAllClubsByPageAndIsArchiveQuery.cs
  EPlast/EPlast.BLL/Queries/Club/GetByIdQuery.cs
  EPlast/EPlast.BLL/Queries/Club/GetClubAdministrationsQuery.cs
  EPlast/EPlast.BLL/Queries/Club/GetClubDataForReportQuery.cs
  EPlast/EPlast.BLL/Queries/Club/GetClubHistoryFollowersQuery.cs
  EPlast/EPlast.BLL/Queries/Club/GetClubHistoryMembersQuery.cs
  EPlast/EPlast.BLL/Queries/Club/GetCountDeletedUsersPerYearQuery.cs
  EPlast/EPlast.BLL/Queries/Club/GetCountUsersPerYearQuery.cs
  EPlast/EPlast.BLL/Services/Club/ClubService.cs
  EPlast/EPlast.BLL/Services/Redis/RedisCacheService.cs
  EPlast/EPlast.Tests/Controllers/ClubControllerTests.cs
  EPlast/EPlast.Tests/Handlers/Club/ArchiveAsyncHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/Club/GetAllClubsByPageAndIsArchiveHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/Club/GetByIdHanderTest.cs
  EPlast/EPlast.Tests/Handlers/Club/GetClubAdministrationsHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/Club/GetClubDataForReportHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/Club/GetClubHistoryFollowersHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/Club/GetClubHistoryMembersHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/Club/GetCountDeletedUsersPerYearHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/Club/GetCountUsersPerYearHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/Club/UnArchiveHandlerTest.cs
  EPlast/EPlast.Tests/Services/Club/ClubServiceTests.cs
  EPlast/EPlast.Tests/Services/Redis/RedisCacheServiceTest.cs
  EPlast/EPlast.WebApi/Controllers/ClubController.cs
  EPlast/EPlast.WebApi/EPlast.WebApi.csproj
  EPlast/EPlast.WebApi/StartupExtensions/AddServicesExtension.cs
  EPlast/EPlast.XUnitTest/Services/Club/ClubServiceTests.cs
Labels: Type: Maintenances, Hovels (Курені)

#2247 Fixed kadra restricted role
  EPlast/EPlast.WebApi/Controllers/EducatorsStaffController.cs
Labels: Senior Staff (Кадра виховників), Рівні доступу (Access Levels)

#2250 Added notification for user that trial period has expired
  EPlast/EPlast.BLL/Interfaces/City/ICityService.cs
  EPlast/EPlast.BLL/Interfaces/EmailSending/IEmailContentService.cs
  EPlast/EPlast.BLL/Services/City/CityService.cs
  EPlast/EPlast.BLL/Services/EmailSending/EmailContentService.cs
  EPlast/EPlast.BLL/Services/EmailSending/NewPlastMemberEmailGreetingService.cs
  EPlast/EPlast.Tests/Services/City/CityServiceTests.cs
  EPlast/EPlast.Tests/Services/EmailSending/EmailContentServiceTests.cs
  EPlast/EPlast.Tests/Services/EmailSending/NewPlastMemberEmailGreetingTests.cs
Labels: Cities (станиці), Notifications(Сповіщення)

#2242 Redis bug fixed
  EPlast/EPlast.WebApi/StartupExtensions/AddRedisOptionsExternshion.cs
  EPlast/EPlast.WebApi/appsettings.json
Labels: Governing Bodies(Керівні Органи)

#2254 Pdf update
  EPlast/EPlast.BLL/DTO/AnnualReport/UserDTO.cs
  EPlast/EPlast.BLL/Interfaces/PDF/IPDFService.cs
  EPlast/EPlast.BLL/Services/PDF/Documents/AnnualReportPdf.cs
  EPlast/EPlast.BLL/Services/PDF/PDFService.cs
  EPlast/EPlast.Tests/Controllers/AnnualReportControllerTests.cs
  EPlast/EPlast.Tests/Services/PDF/PDFServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/AnnualReportController.cs
Labels: AnnualReports

#2256 Fixed precaution
  EPlast/EPlast.BLL/Interfaces/Precautions/IUserPrecautionService.cs
  EPlast/EPlast.BLL/Services/Precautions/UserPrecautionService.cs
  EPlast/EPlast.Tests/Controllers/PrecautionControllerTests.cs
  EPlast/EPlast.Tests/Services/Precautions/UserPrecautionServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/PrecautionController.cs
Labels: Precaution, Postman

#2255 Partially covered CityService with mediatr_cqrs
  EPlast/EPlast.BLL/Handlers/CityHandlers/GetAdministrationHandler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/GetAllCitiesOrByNameHandler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/GetCitiesByRegionHandler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/GetCityAdminsHandler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/GetCityAdminsIdsHandler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/GetCityByIdHandler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/GetCityByIdWthFullInfoHandler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/GetCityDocumentsHandler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/GetCityFollowersHandler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/GetCityMembersHandler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/GetCityProfileBasicHandler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/GetCityProfileHandler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/GetCityUsersHandler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/Helpers/CityHelpers.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/PlastMemberCheckHandler.cs
  EPlast/EPlast.BLL/Interfaces/City/ICityService.cs
  EPlast/EPlast.BLL/Queries/City/GetAdministrationQuery.cs
  EPlast/EPlast.BLL/Queries/City/GetAllCitiesOrByNameQuery.cs
  EPlast/EPlast.BLL/Queries/City/GetCitiesByRegionQuery.cs
  EPlast/EPlast.BLL/Queries/City/GetCityAdminsIdsQuery.cs
  EPlast/EPlast.BLL/Queries/City/GetCityAdminsQuery.cs
  EPlast/EPlast.BLL/Queries/City/GetCityByIdQuery.cs
  EPlast/EPlast.BLL/Queries/City/GetCityByIdWthFullInfoQuery.cs
  EPlast/EPlast.BLL/Queries/City/GetCityDocumentsQuery.cs
  EPlast/EPlast.BLL/Queries/City/GetCityFollowersQuery.cs
  EPlast/EPlast.BLL/Queries/City/GetCityMembersQuery.cs
  EPlast/EPlast.BLL/Queries/City/GetCityProfileBasicQuery.cs
  EPlast/EPlast.BLL/Queries/City/GetCityProfileQuery.cs
  EPlast/EPlast.BLL/Queries/City/GetCityUsersQuery.cs
  EPlast/EPlast.BLL/Queries/City/PlastMemberCheckQuery.cs
  EPlast/EPlast.Tests/Controllers/CityControllerTests.cs
  EPlast/EPlast.Tests/Handlers/City/GetAdministrationHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/City/GetAllCitiesOrByNameHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/City/GetCitiesByRegionHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/City/GetCityAdminsHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/City/GetCityAdminsIdsHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/City/GetCityByIdHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/City/GetCityByIdWthFullInfoHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/City/GetCityDocumentsHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/City/GetCityFollowersHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/City/GetCityMembersHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/City/GetCityProfileBasicHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/City/GetCityProfileHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/City/GetCityUsersHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/City/Helpers/CityHelpersTest.cs
  EPlast/EPlast.Tests/Handlers/City/PlastMemberCheckHandlerTest.cs
  EPlast/EPlast.WebApi/Controllers/CitiesController.cs
Labels: Improvement

#2262 Fixed access to city annual report, role - head of okruga
  EPlast/EPlast.WebApi/Controllers/AnnualReportController.cs
Labels: Bug, AnnualReports, Рівні доступу (Access Levels)

#2251 Fixed user profile access at blanks page (Fixed issues #2195 #2194 #2196)
  EPlast/EPlast.BLL/Interfaces/UserProfiles/IUserService.cs
  EPlast/EPlast.BLL/Services/UserAccess/UserAccessService.cs
  EPlast/EPlast.BLL/Services/UserProfiles/UserProfileAccessService.cs
  EPlast/EPlast.BLL/Services/UserProfiles/UserService.cs
  EPlast/EPlast.Resources/CellType.cs
  EPlast/EPlast.Tests/Services/UserProfiles/UserProfileAccessServiceTests.cs
  EPlast/EPlast.Tests/Services/UserProfiles/UserServiceTests.cs
Labels: Bug, Blank, Profile

#2266 Added mediator for GetCityIdByUserIdAsync method
  EPlast/EPlast.BLL/Handlers/CityHandlers/GetCityIdByUserIdHandler.cs
  EPlast/EPlast.BLL/Interfaces/City/ICityService.cs
  EPlast/EPlast.BLL/Queries/City/GetCityIdByUserIdQuery.cs
  EPlast/EPlast.BLL/Services/City/CityService.cs
  EPlast/EPlast.Tests/Handlers/City/GetCityIdByUserIdHendlerTest.cs
Labels: Improvement, Cities (станиці)

#2267 Notification sending to all but not to sender
  EPlast/EPlast.BLL/Interfaces/Terms/ITermsService.cs
  EPlast/EPlast.BLL/Services/TermsOfUse/TermsService.cs
  EPlast/EPlast.Tests/Controllers/TermsControllerTest.cs
  EPlast/EPlast.Tests/Services/Terms/TermsServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/TermsController.cs
Labels: Notifications(Сповіщення), terms of use

#2274 Added mediator for Terms service
  EPlast/EPlast.BLL/Commands/TermsOfUse/AddTermsCommand.cs
  EPlast/EPlast.BLL/Commands/TermsOfUse/ChangeTermsCommand.cs
  EPlast/EPlast.BLL/Handlers/TermsOfUse/AddTermsHandler.cs
  EPlast/EPlast.BLL/Handlers/TermsOfUse/ChangeTermsHandler.cs
  EPlast/EPlast.BLL/Handlers/TermsOfUse/CheckIfAdminForTermsHandler.cs
  EPlast/EPlast.BLL/Handlers/TermsOfUse/GetAllUsersIdWithoutSenderHandler.cs
  EPlast/EPlast.BLL/Handlers/TermsOfUse/GetFirstRecordTermsHandler.cs
  EPlast/EPlast.BLL/Queries/TermsOfUse/CheckIfAdminForTermsQuery.cs
  EPlast/EPlast.BLL/Queries/TermsOfUse/GetAllUsersIdWithoutSenderQuery.cs
  EPlast/EPlast.BLL/Queries/TermsOfUse/GetFirstRecordQuery.cs
  EPlast/EPlast.Tests/Handlers/Terms/AddTermsHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/Terms/ChangeTermsHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/Terms/CheckIfAdminForTermsHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/Terms/GetAllUsersIdWithoutSenderHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/Terms/GetFirstRecordHandlerTest.cs
Labels: Improvement, terms of use

#2275 Added mediator for terms controller
  EPlast/EPlast.BLL/Interfaces/Terms/ITermsService.cs
  EPlast/EPlast.Tests/Controllers/TermsControllerTest.cs
  EPlast/EPlast.WebApi/Controllers/TermsController.cs
Labels: Improvement, terms of use

#2276 Accesses for menu
  EPlast/EPlast.BLL/Interfaces/UserAccess/IUserAccessService.cs
  EPlast/EPlast.BLL/Services/UserAccess/UserAccessService.cs
  EPlast/EPlast.Tests/Controllers/UserAccessControllerTests.cs
  EPlast/EPlast.Tests/Services/UserAcccess/UserAccessServiceTests.cs
  EPlast/EPlast.WebApi/AccessSecurityModel/MenuAccessSettings.json
  EPlast/EPlast.WebApi/Controllers/UserAccessController.cs
Labels: Рівні доступу (Access Levels), Menu

#2280 Precaution table settings and search bar
  EPlast/EPlast.BLL/DTO/PrecautionsDTO/PrecautionTableSettings.cs
  EPlast/EPlast.BLL/Handlers/ClubHandlers/GetAllClubsByPageAndIsArchiveHandler.cs
  EPlast/EPlast.BLL/Interfaces/Precautions/IPrecautionService.cs
  EPlast/EPlast.BLL/Mapping/Precautions/UserPrecautionProfile.cs
  EPlast/EPlast.BLL/Services/Precautions/PrecautionService.cs
  EPlast/EPlast.DataAccess/Repositories/Interfaces/Base/IRepositoryBase.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Base/RepositoryBase.cs
  EPlast/EPlast.Tests/Controllers/PrecautionControllerTests.cs
  EPlast/EPlast.Tests/Handlers/Club/GetAllClubsByPageAndIsArchiveHandlerTest.cs
  EPlast/EPlast.Tests/Services/Precautions/PrecautionServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/PrecautionController.cs
Labels: Precaution

#2277 Covered CityService with mediator cqrs, updated CitiesController
  EPlast/EPlast.BLL/Commands/City/ArchiveCityCommand.cs
  EPlast/EPlast.BLL/Commands/City/CreateCityCommand.cs
  EPlast/EPlast.BLL/Commands/City/CreateCityWthIdCommand.cs
  EPlast/EPlast.BLL/Commands/City/EditCityCommand.cs
  EPlast/EPlast.BLL/Commands/City/RemoveCityCommand.cs
  EPlast/EPlast.BLL/Commands/City/UnArchiveCityCommand.cs
  EPlast/EPlast.BLL/Commands/City/UploadCityPhotoCommand.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/ArchiveCityHandler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/CreateCityHandler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/CreateCityWthIdHandler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/EditCityHandler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/GetActiveCitiesHandler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/GetAllCitiesByPageAndIsArchiveHandler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/GetCityLogoBase64Handler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/RemoveCityHandler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/UnArchiveCityHandler.cs
  EPlast/EPlast.BLL/Handlers/CityHandlers/UploadCityPhotoHandler.cs
  EPlast/EPlast.BLL/Interfaces/City/ICityService.cs
  EPlast/EPlast.BLL/Queries/City/GetActiveCitiesQuery.cs
  EPlast/EPlast.BLL/Queries/City/GetAllCitiesByPageAndIsArchiveQuery.cs
  EPlast/EPlast.BLL/Queries/City/GetCityLogoBase64Query.cs
  EPlast/EPlast.BLL/Services/City/CityService.cs
  EPlast/EPlast.Tests/Controllers/CityControllerTests.cs
  EPlast/EPlast.Tests/Handlers/City/ArchiveCityHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/City/CreateCityHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/City/CreateCityWthIdHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/City/EditCityHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/City/GetActiveCitiesHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/City/GetAllCitiesByPageAndIsArchiveHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/City/GetCityLogoBase64HandlerTest.cs
  EPlast/EPlast.Tests/Handlers/City/RemoveCityHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/City/UnArchiveCityHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/City/UploadCityPhotoHandlerTest.cs
  EPlast/EPlast.WebApi/Controllers/CitiesController.cs
Labels: Improvement

#2279 Fixed accesses to annual report due to URL
  EPlast/EPlast.BLL/Interfaces/Region/IRegionAnnualReportService.cs
  EPlast/EPlast.BLL/Services/AnnualReport/AnnualReportService.cs
  EPlast/EPlast.BLL/Services/Region/RegionAnnualReportService.cs
  EPlast/EPlast.Tests/Controllers/RegionsControllerTests.cs
  EPlast/EPlast.Tests/Services/Regions/RegionAnnualReportServiceTest.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
  EPlast/EPlast.XUnitTest/Services/AnnualReport/AnnualReportServiceTests.cs
Labels: Bug, AnnualReports, Рівні доступу (Access Levels)

#2288 Precaution table settings and pagination
  EPlast/EPlast.BLL/DTO/Distinction/DistictionTableSettings.cs
  EPlast/EPlast.BLL/Interfaces/Distinctions/IDistinctionService.cs
  EPlast/EPlast.BLL/Interfaces/Precautions/IUserPrecautionService.cs
  EPlast/EPlast.BLL/Mapping/Distinctions/UserDistinctionProfile.cs
  EPlast/EPlast.BLL/Services/Distinctions/DistinctionService.cs
  EPlast/EPlast.BLL/Services/Precautions/UserPrecautionService.cs
  EPlast/EPlast.Tests/Controllers/DistinctionControllerTests.cs
  EPlast/EPlast.Tests/Controllers/PrecautionControllerTests.cs
  EPlast/EPlast.Tests/Services/DistinctionServiceTest/DistinctionServiceTests.cs
  EPlast/EPlast.Tests/Services/DistinctionServiceTest/UserDistinctionServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/DistinctionController.cs
Labels: Awards (Відзначення)

#2286 UserTable access by roles
  EPlast/EPlast.BLL/DTO/Admin/FilterTableParametersByRole.cs
  EPlast/EPlast.BLL/Interfaces/Admin/IAdminService.cs
  EPlast/EPlast.BLL/Services/Admin/AdminService.cs
  EPlast/EPlast.DataAccess/Repositories/Interfaces/Admin/IAdminTypeRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Admin/AdminTypeRepository.cs
  EPlast/EPlast.Tests/Controllers/AdminControllerTests.cs
  EPlast/EPlast.Tests/Services/Admin/AdminServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/AdminController.cs
Labels: Users Table (Таблиця користувачів)

#2297 improve city condition access
  EPlast/EPlast.BLL/Services/Admin/AdminService.cs
  EPlast/EPlast.Tests/Services/Admin/AdminServiceTests.cs
Labels: Users Table (Таблиця користувачів)

#2205 Added Validation EventCreate
  EPlast/EPlast.BLL/DTO/EventUser/EventCreationDTO.cs
Labels: Bug, Events (події), Postman

#2302 add opotunity to search targets
  EPlast/EPlast.BLL/Interfaces/Decesion/IDecisionService.cs
  EPlast/EPlast.BLL/Services/Decision/DecisionService.cs
  EPlast/EPlast.Tests/Controllers/DecisionsControllerTests.cs
  EPlast/EPlast.Tests/Services/Decision/DecisionsServiceTest.cs
  EPlast/EPlast.WebApi/AccessSecurityModel/RegionsBoardAccessSettings.json
  EPlast/EPlast.WebApi/Controllers/DecisionsController.cs
Labels: Decisions (Рішення)
