Repository ita-social-projects/EPlast, pull requests merged in 2022-08, with the labels that each got.

#2683 Added access to RegionalBoard to all users except registered.
  EPlast/EPlast.Resources/AllowedRolesToBeAdminOfEvent.cs
  EPlast/EPlast.Resources/Roles.cs
  EPlast/EPlast.WebApi/Controllers/DecisionsController.cs
  EPlast/EPlast.WebApi/CustomAttributes/AuthorizeAllRolesExceptAttribute.cs
  EPlast/EPlast.WebApi/CustomAttributes/AuthorizeRolesAttribute.cs
Labels: Regions Board (Крайовий провід пласту), Рівні доступу (Access Levels)

#2696 Add Blanks access to Follower
  EPlast/EPlast.WebApi/AccessSecurityModel/UserProfileAccessSettings.json
Labels: Profile, Рівні доступу (Access Levels)

#2694 Fix 2686 attempt 2
  EPlast/EPlast.BLL/DTO/Decision/DecisionTargetDTO.cs
  EPlast/EPlast.Tests/Controllers/DecisionsControllerTests.cs
  EPlast/EPlast.WebApi/Controllers/DecisionsController.cs
Labels: Decisions (Рішення)

#2708 Login fix
  EPlast/EPlast.BLL/Handlers/PrecautionHandlers/GetUsersPrecautionsForTableHandler.cs
  EPlast/EPlast.Resources/AuthenticationErrors.en.resx
  EPlast/EPlast.Tests/Controllers/LoginControllerTests.cs
  EPlast/EPlast.WebApi/Controllers/AuthController.cs
  EPlast/EPlast.WebApi/Controllers/LoginController.cs
  EPlast/EPlast.WebApi/Controllers/PasswordController.cs
  EPlast/EPlast.WebApi/Extensions/HttpRequestExtensions.cs
Labels: Registration / Login, Precaution (Перестороги)

#2703 Full user profile access fix
  EPlast/EPlast.BLL/DTO/UserProfiles/UserDTO.cs
  EPlast/EPlast.BLL/Services/UserProfiles/UserProfileAccessService.cs
  EPlast/EPlast.BLL/Services/UserProfiles/UserService.cs
  EPlast/EPlast.Tests/Controllers/UserControllerTests.cs
  EPlast/EPlast.Tests/Services/UserProfiles/UserProfileAccessServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/UserController.cs
Labels: Profile, Рівні доступу (Access Levels)

#2697 Fix Token being invalid on confirmation
  EPlast/EPlast.WebApi/Controllers/AuthController.cs
Labels: Registration / Login

#2750 Remove all TableObjects from DBContext
  EPlast/EPlast.DataAccess/EPlastDBContext.cs
  EPlast/EPlast.DataAccess/Migrations/20220728061718_RemoveUserTableObject.cs
  EPlast/EPlast.DataAccess/Migrations/20220815142818_RemoveTableObjects.Designer.cs
  EPlast/EPlast.DataAccess/Migrations/20220815142818_RemoveTableObjects.cs
  EPlast/EPlast.DataAccess/Migrations/EPlastDBContextModelSnapshot.cs
Labels: Type: Maintenances

#2749 Update for Readme
  README.md
Labels: documentation

#2719 Fix data filtering for User Table
  EPlast/EPlast.DataAccess/Entities/UserEntities/UserRenewalsTableObject.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Admin/AdminTypeRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/User/UserRenewalRepository.cs
Labels: Users Table (Таблиця користувачів)

#2725 HttpContext is null in EmailContentService fix
  EPlast/EPlast.BLL/Services/EmailSending/EmailContentService.cs
Labels: Type: Maintenances

#2714 Add follower access to announcements and unlocked events on user page
  EPlast/EPlast.WebApi/AccessSecurityModel/UserProfileAccessSettings.json
  EPlast/EPlast.WebApi/Controllers/AdminController.cs
Labels: Profile, Menu, announcement

#2768 #2740-back-sorting
  EPlast/EPlast.DataAccess/Repositories/Realizations/Admin/AdminTypeRepository.cs
Labels: Repository

#2767 Club, City, Region, GoverningBody, Sector bugs
  EPlast/EPlast.BLL/Services/City/CityParticipantsService.cs
  EPlast/EPlast.BLL/Services/Club/ClubParticipantsService.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/GoverningBodyAdministrationService.cs
  EPlast/EPlast.BLL/Services/GoverningBodies/Sector/SectorAdministrationService.cs
  EPlast/EPlast.BLL/Services/Region/RegionAdministrationService.cs
  EPlast/EPlast.WebApi/Controllers/CitiesController.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
Labels: Bug, Hovels (Курені), Cities (станиці), Regions (Округи), Governing Bodies(Керівні Органи), Governing Body's Sectors(Напрями)
