Repository ita-social-projects/EPlast, pull requests merged in 2022-09, with the labels that each got.

#2776 #2622-fix
  EPlast/EPlast.BLL/Handlers/CityHandlers/GetActiveCitiesHandler.cs
  EPlast/EPlast.BLL/Services/ActiveMembership/PlastDegreeService.cs
  EPlast/EPlast.BLL/Services/Club/ClubService.cs
  EPlast/EPlast.BLL/Services/Region/RegionService.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Region/RegionRepository.cs
  EPlast/EPlast.Tests/Handlers/City/GetActiveCitiesHandlerTest.cs
  EPlast/EPlast.Tests/Services/ActiveMembership/PlastDegreeServiceTests.cs
  EPlast/EPlast.Tests/Services/Club/ClubServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/ActiveMembershipController.cs
  EPlast/EPlast.WebApi/Controllers/ClubController.cs
Labels: Users Table (Таблиця користувачів)

#2804 Revert "Event tweaks #1042 (#2798)"
  EPlast/EPlast.BLL/DTO/Events/EventAdminDTO.cs
  EPlast/EPlast.BLL/DTO/Events/EventFeedbackDto.cs
  EPlast/EPlast.BLL/DTO/Events/EventGalleryDTO.cs
  EPlast/EPlast.BLL/DTO/Events/EventInfoDTO.cs
  EPlast/EPlast.BLL/Interfaces/EventUser/IEventUserAccessService.cs
  EPlast/EPlast.BLL/Interfaces/EventUser/IEventUserManager.cs
  EPlast/EPlast.BLL/Interfaces/Events/IActionManager.cs
  EPlast/EPlast.BLL/Interfaces/Events/IEventGalleryManager.cs
  EPlast/EPlast.BLL/Interfaces/Events/IParticipantManager.cs
  EPlast/EPlast.BLL/Mapping/Events/EventAdminProfile.cs
  EPlast/EPlast.BLL/Mapping/Events/EventFeedbackProfile.cs
  EPlast/EPlast.BLL/Mapping/Events/EventGalleryProfile.cs
  EPlast/EPlast.BLL/Mapping/Events/EventInfoProfile.cs
  EPlast/EPlast.BLL/Services/AzureStorage/Base/BlobStorageRepository.cs
  EPlast/EPlast.BLL/Services/EventUser/EventUserAccess/EventUserAccessService.cs
  EPlast/EPlast.BLL/Services/EventUser/EventUserManager.cs
  EPlast/EPlast.BLL/Services/Events/ActionManager.cs
  EPlast/EPlast.BLL/Services/Events/EventGalleryManager.cs
  EPlast/EPlast.BLL/Services/Events/ParticipantManager.cs
  EPlast/EPlast.DataAccess/EPlast.DataAccess.csproj
  EPlast/EPlast.DataAccess/EPlastDBContext.cs
  EPlast/EPlast.DataAccess/Entities/Event/Event.cs
  EPlast/EPlast.DataAccess/Entities/Event/EventFeedback.cs
  EPlast/EPlast.DataAccess/Entities/UserEntities/Participant.cs
  EPlast/EPlast.DataAccess/Migrations/20220810185416_EventFeedback.Designer.cs
  EPlast/EPlast.DataAccess/Migrations/20220810185416_EventFeedback.cs
  EPlast/EPlast.DataAccess/Migrations/EPlastDBContextModelSnapshot.cs
  EPlast/EPlast.DataAccess/Repositories/Interfaces/Base/IRepositoryWrapper.cs
  EPlast/EPlast.DataAccess/Repositories/Interfaces/Events/IEventFeedbackRepository.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Base/RepositoryWrapper.cs
  EPlast/EPlast.DataAccess/Repositories/Realizations/Events/EventFeedbackRepository.cs
  EPlast/EPlast.Tests/Controllers/EventsControllerTests.cs
  EPlast/EPlast.Tests/Controllers/EventsUsersControllerTests.cs
  EPlast/EPlast.Tests/Services/Event/EventUserAccessServiceTests.cs
  EPlast/EPlast.Tests/Services/Event/EventUserManagerTests.cs
  EPlast/EPlast.Tests/Services/Events/ActionManagerTests.cs
  EPlast/EPlast.Tests/Services/Events/EventsGalleryManagerTests.cs
  EPlast/EPlast.WebApi/Controllers/EventsController.cs
  EPlast/EPlast.WebApi/Controllers/EventsUsersController.cs
  EPlast/EPlast.XUnitTest/Services/Events/ActionManagerTests.cs
  EPlast/EPlast.XUnitTest/Services/Events/EventGalleryManagerTests.cs
  EPlast/EPlast.XUnitTest/Services/Events/EventUserManagerTests.cs
  EPlast/EPlast.XUnitTest/Services/Events/ParticipantManagerTests.cs
Labels: Events (події)

#2770 #2510 Fix Renewal notification
  EPlast/EPlast.BLL/Handlers/CityHandlers/GetCityByIdHandler.cs
Labels: User renewals

#2785 Restore #2703 changes with squash
  EPlast/EPlast.BLL/Services/UserProfiles/UserProfileAccessService.cs
  EPlast/EPlast.Tests/Controllers/AnnualReportControllerTests.cs
  EPlast/EPlast.Tests/Services/UserProfiles/UserProfileAccessServiceTests.cs
Labels: Profile

#2792 #2764_Fix_City_Application_Access
  EPlast/EPlast.Tests/Controllers/RegionsControllerTests.cs
  EPlast/EPlast.WebApi/Controllers/CitiesController.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
Labels: Cities (станиці), Рівні доступу (Access Levels)

#2820 #2744 Fix region administration access
  EPlast/EPlast.BLL/DTO/Region/RegionAdministrationDTO.cs
  EPlast/EPlast.BLL/Interfaces/RegionAdministrations/IRegionAdministrationAccessService.cs
  EPlast/EPlast.BLL/Interfaces/RegionAdministrations/IRegionAdministrationService.cs
  EPlast/EPlast.BLL/Interfaces/UserAccess/IUserAccessService.cs
  EPlast/EPlast.BLL/Interfaces/UserAccess/IUserAccessWrapper.cs
  EPlast/EPlast.BLL/Services/AnnualReport/AnnualReportAccessService.cs
  EPlast/EPlast.BLL/Services/FormerMember/FormerMemberAdminService.cs
  EPlast/EPlast.BLL/Services/RegionAdministrations/RegionAdministrationAccessService.cs
  EPlast/EPlast.BLL/Services/RegionAdministrations/RegionAdministrationService.cs
  EPlast/EPlast.BLL/Services/UserAccess/UserAccessService.cs
  EPlast/EPlast.BLL/Services/UserAccess/UserAccessWrapper.cs
  EPlast/EPlast.Tests/Controllers/RegionsControllerTests.cs
  EPlast/EPlast.Tests/Services/FormerMember/FormerMemberAdminServiceTest.cs
  EPlast/EPlast.Tests/Services/RegionAdministrations/RegionAdministrationAccessServiceTests.cs
  EPlast/EPlast.Tests/Services/RegionAdministrations/RegionAdministrationServiceTests.cs
  EPlast/EPlast.Tests/Services/UserAcccess/UserAccessServiceTests.cs
  EPlast/EPlast.Tests/Services/UserAcccess/UserAccessWrapperTests.cs
  EPlast/EPlast.WebApi/AccessSecurityModel/RegionAccessSettings.json
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
  EPlast/EPlast.WebApi/StartupExtensions.cs
Labels: Regions (Округи), Рівні доступу (Access Levels)

#2873 Email verification fix
  EPlast/EPlast.Tests/Controllers/AuthControllerTests.cs
  EPlast/EPlast.WebApi/Controllers/AuthController.cs
  EPlast/EPlast.WebApi/Startup.cs
Labels: Registration / Login
