Repository ita-social-projects/EPlast, pull requests merged in 2022-02, with the labels that each got.

#2301 Added ability to submit city annual report, role - region head
  EPlast/EPlast.BLL/Services/City/CityAccess/CityAccessService.cs
  EPlast/EPlast.WebApi/AccessSecurityModel/AnnualReportAccessSettings.json
  EPlast/EPlast.WebApi/Controllers/AnnualReportController.cs
  EPlast/EPlast.XUnitTest/Services/City/CityAccessServiceTests.cs
Labels: AnnualReports, Рівні доступу (Access Levels)

#2310 Updated menu accesses
  EPlast/EPlast.WebApi/AccessSecurityModel/MenuAccessSettings.json
Labels: Рівні доступу (Access Levels), Menu

#2308 Added entity for regions
  EPlast/EPlast.BLL/Handlers/RegionHandlers/GetAllRegionsByPageAndIsArchiveHandler.cs
  EPlast/EPlast.BLL/Mapping/Region/RegionProfile.cs
  EPlast/EPlast.BLL/Queries/Region/GetAllRegionsByPageAndIsArchiveQuery.cs
  EPlast/EPlast.Tests/Controllers/RegionsControllerTests.cs
  EPlast/EPlast.Tests/Handlers/Regions/GetAllRegionsByPageAndIsArchiveHandlerTest.cs
  EPlast/EPlast.WebApi/Controllers/RegionsController.cs
Labels: Improvement, Regions (округи)

#2315 Distinction mediator
  EPlast/EPlast.BLL/Handlers/DistinctionHandlers/AddDistinctionHandler.cs
  EPlast/EPlast.BLL/Handlers/DistinctionHandlers/ChangeDistinctionHandler.cs
  EPlast/EPlast.BLL/Handlers/DistinctionHandlers/CheckIfAdminHandler.cs
  EPlast/EPlast.BLL/Handlers/DistinctionHandlers/DeleteDistinctionHandler.cs
  EPlast/EPlast.BLL/Handlers/DistinctionHandlers/GetAllDistinctionHandler.cs
  EPlast/EPlast.BLL/Handlers/DistinctionHandlers/GetDistinctionHandler.cs
  EPlast/EPlast.BLL/Handlers/DistinctionHandlers/GetUsersDistinctionsForTableHandler.cs
  EPlast/EPlast.BLL/Interfaces/Distinctions/IDistinctionService.cs
  EPlast/EPlast.BLL/Queries/Distinction/AddDistinctionQuery.cs
  EPlast/EPlast.BLL/Queries/Distinction/ChangeDistinctionQuery.cs
  EPlast/EPlast.BLL/Queries/Distinction/CheckIfAdminQuery.cs
  EPlast/EPlast.BLL/Queries/Distinction/DeleteDistinctionQuery.cs
  EPlast/EPlast.BLL/Queries/Distinction/GetAllDistinctionQuery.cs
  EPlast/EPlast.BLL/Queries/Distinction/GetDistinctionQuery.cs
  EPlast/EPlast.BLL/Queries/Distinction/GetUsersDistinctionsForTableQuery.cs
  EPlast/EPlast.Tests/Controllers/DistinctionControllerTests.cs
  EPlast/EPlast.Tests/Handlers/Distinction/AddDistinctionHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/Distinction/ChangeDistinctionHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/Distinction/CheckIfAdminHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/Distinction/DeleteDistinctionHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/Distinction/GetAllDistinctionHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/Distinction/GetDistinctionHandlerTest.cs
  EPlast/EPlast.Tests/Handlers/Distinction/GetUsersDistinctionsForTableHandlerTest.cs
  EPlast/EPlast.Tests/Services/DistinctionServiceTest/DistinctionServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/DistinctionController.cs
  EPlast/EPlast.WebApi/StartupExtensions/AddDependenciesExtension.cs
Labels: Awards (Відзначення)

#2311 Check if user is member of city
  EPlast/EPlast.BLL/Interfaces/Admin/IAdminService.cs
  EPlast/EPlast.BLL/Services/Admin/AdminService.cs
  EPlast/EPlast.Tests/Controllers/AdminControllerTests.cs
  EPlast/EPlast.Tests/Services/Admin/AdminServiceTests.cs
  EPlast/EPlast.WebApi/Controllers/AdminController.cs
Labels: Users Table (Таблиця користувачів)

#2326 Fixed decision edit access
  EPlast/EPlast.BLL/Services/Admin/AdminService.cs
  EPlast/EPlast.Resources/Roles.cs
  EPlast/EPlast.Tests/Controllers/DecisionsControllerTests.cs
  EPlast/EPlast.WebApi/Controllers/DecisionsController.cs
Labels: Decisions (Рішення)

#2364 Added test, rewrited controller, service
  EPlast/EPlast.BLL/DTO/EventUser/EventCreationDTO.cs
  EPlast/EPlast.BLL/Services/EventUser/EventUserManager.cs
  EPlast/EPlast.Tests/Controllers/EventsUsersControllerTests.cs
  EPlast/EPlast.WebApi/Controllers/EventsUsersController.cs
  EPlast/EPlast.XUnitTest/Services/Events/EventUserManagerTests.cs
Labels: Bug, Events (події)
